<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href=' http://fonts.googleapis.com/css?family=Inter' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="./footer.css">
</head>

<body>
    <footer class="container-fluid">
        <div class="container display-flex flex-column">
            <div class="footer__top-container display-flex flex-row p-2">
                <div class="w-25 display-flex flex-column gap-1">
                    <div class="brand-container display-flex flex-row align-center">
                        <div class="logo">
                            <img src="../../images/logo.png">
                        </div>
                        <div class="text">travelowkey</div>
                    </div>
                    <div class="img-container display-flex flex-row align-center justify-between">
                        <img src="https://ik.imagekit.io/tvlk/image/imageResource/2019/09/23/1569229181629-eeb038ad844874f951326d0a8534bf48.png?tr=q-75,w-100"
                            class="w-25">
                        <img src="https://ik.imagekit.io/tvlk/image/imageResource/2017/12/13/1513150321127-5096be77d2a19401b476853e54ba2cc6.svg?tr=h-35,q-75"
                            class="w-25">
                        <img src="https://ik.imagekit.io/tvlk/image/imageResource/2021/05/10/1620638808154-e6c02ed786235ab59252628a9aa9b715.png?tr=h-35,q-75"
                            class="w-25">
                    </div>
                </div>
                <div class="w-75 display-flex flex-row justify-between">
                    <div class="display-flex flex-column gap-1">
                        <div class="title">
                            <div class="text">Theo dõi chúng tôi trên</div>
                        </div>
                        <a class="content display-flex flex-row align-center gap-1" href="https://www.facebook.com/TravelokaVN">
                            <ion-icon name="logo-facebook"></ion-icon>
                            <div class="text">Facebook</div>
                        </a>
                        <a class="content display-flex flex-row align-center gap-1" href="https://www.instagram.com/traveloka.vn/">
                            <ion-icon name="logo-instagram"></ion-icon>
                            <div class="text">Instagram</div>
                        </a>
                        <a class="content display-flex flex-row align-center gap-1" href="https://www.youtube.com/@travelokavn">
                            <ion-icon name="logo-youtube"></ion-icon>
                            <div class="text">Youtube</div>
                        </a>
                        <a class="content display-flex flex-row align-center gap-1" href="https://www.tiktok.com/@traveloka.vn">
                            <ion-icon name="logo-tiktok"></ion-icon>
                            <div class="text">Tiktok</div>
                        </a>
                    </div>
                    <div class="display-flex flex-column gap-1">
                        <div class="title">
                            <div class="text">Sản phẩm</div>
                        </div>
                        <a class="content display-flex flex-row align-center gap-1" href="../../../pages/flight-search/">
                            <ion-icon name="airplane-outline"></ion-icon>
                            <div class="text">Vé máy bay</div>
                        </a>
                        <a class="content display-flex flex-row align-center gap-1" href="../../../pages/coach-search/">
                            <ion-icon name="bus-outline"></ion-icon>
                            <div class="text">Vé xe khách</div>
                        </a>
                        <a class="content display-flex flex-row align-center gap-1" href="../../../pages/transfer-search/">
                            <ion-icon name="car-outline"></ion-icon>
                            <div class="text">Xe dịch vụ</div>
                        </a>
                        <a class="content display-flex flex-row align-center gap-1" href="../../../pages/hotel-search/">
                            <ion-icon name="business-outline"></ion-icon>
                            <div class="text">Khách sạn</div>
                        </a>
                    </div>
                    <div class="display-flex flex-column gap-1">
                        <div class="title">
                            <div class="text">Khác</div>
                        </div>
                        <a class="content display-flex flex-row align-center gap-1" href="../../../pages/piracy-notice/">
                            <div class="text">Chính sách quyền riêng tư</div>
                        </a>
                        <a class="content display-flex flex-row align-center gap-1" href="../../../pages/terms-and-condition/">
                            <div class="text">Điều khoản & Điều kiện</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <svg class="container-fluid" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1152 2" fill="none">
            <path d="M0 1H1152" stroke="white" stroke-width="1" />
        </svg>
        <div class="container display-flex flex-column">
            <div class="footer__bottom-container display-flex flex-column align-center p-2">
                <div class="text">Công ty TNHH Travelowkey Việt Nam. Trường Đại học Công nghệ thông tin - ĐHQG
                    TPHCM</div>
                <div class="text">Copyright © 2003 - 2023 Travelowkey Inc.</div>
            </div>
        </div>
    </footer>

</body>

</html>