.btn-default {
  display: flex;
  width: 12.5rem;
  height: 4.25rem;
  padding: 1.33333rem 1rem;
  align-items: center;
  justify-content: center;
  gap: 0.83333rem;
  flex-shrink: 0;
  cursor: pointer;
  border-radius: 0.66667rem;
  border: 1px solid #fff;
}
.btn-default .text {
  text-align: right;
  font-size: 1.33333rem;
  font-weight: 500;
}

.btn-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.83333rem;
  flex-shrink: 0;
  background: #ff7a50;
  border-radius: 1rem;
  cursor: pointer;
}
.btn-submit ion-icon {
  font-size: 2rem;
  color: #fff;
}

.btn-dropdown {
  display: flex;
  width: 30.66667rem;
  padding: 1rem 1rem;
  align-items: center;
  border-radius: 0.66667rem;
  border: 1px solid #fff;
  background: rgba(244, 241, 241, 0.5);
  cursor: pointer;
}
.btn-dropdown ion-icon {
  font-size: 2rem;
  color: #fff;
}
.btn-dropdown .drop-down-icon {
  align-self: flex-end;
  margin-left: auto;
}
.btn-dropdown .text {
  color: #fff;
  text-align: center;
  font-size: 1.33333rem;
  font-weight: 700;
  padding-left: 0.83333rem;
}

.btn-toggle {
  min-width: 15rem;
  padding: 1.33333rem 1.66667rem;
  justify-content: center;
  align-items: center;
  gap: 0.83333rem;
  border-radius: 2rem;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.btn-toggle .text {
  color: #fff;
  text-align: center;
  font-size: 1.33333rem;
  font-weight: 700;
}

.btn-toggle.active {
  background: #236eff;
}

.dropdown-panel {
  display: flex;
  padding: 0.83333rem 1.33333rem;
  flex-direction: column;
  gap: 0.83333rem;
  border-radius: 0.66667rem;
  background: #fff;
  position: absolute;
  z-index: 2;
}

.dropdown-panel--set-quantity .panel__title {
  display: flex;
  padding: 1.33333rem 0rem;
  justify-content: flex-start;
  align-items: center;
  gap: 0.83333rem;
}
.dropdown-panel--set-quantity .panel__title .text {
  color: #687176;
  font-size: 1.66666rem;
  font-weight: 500;
}
.dropdown-panel--set-quantity .panel__item {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.dropdown-panel--set-quantity .panel__item .item__icon {
  font-size: 4rem;
  color: #236EFF;
}
.dropdown-panel--set-quantity .panel__item .item__title {
  display: flex;
  flex-direction: column;
  padding-right: 5rem;
  padding-left: -2rem;
}
.dropdown-panel--set-quantity .panel__item .item__title .text {
  color: #000;
  font-size: 1.33333rem;
  font-weight: 500;
  padding: 0;
  text-align: left;
}
.dropdown-panel--set-quantity .panel__item .item__title .comment {
  color: #687176;
  font-size: 1rem;
  font-weight: 500;
  text-align: left;
}
.dropdown-panel--set-quantity .panel__item .item__set-quantity {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.dropdown-panel--set-quantity .panel__item .item__set-quantity .set-quantity__icon {
  font-size: 3rem;
  color: #236EFF;
}
.dropdown-panel--set-quantity .panel__item .item__set-quantity .set-quantity__quantity {
  color: #000;
  font-size: 1.33333rem;
  font-weight: 500;
}
.dropdown-panel--set-quantity .panel__confirm-btn {
  display: flex;
  width: 100%;
  padding: 1.33333rem 1.66667rem;
  gap: 0.83333rem;
  border-radius: 0.66667rem;
  background: rgba(35, 110, 255, 0.8);
  cursor: pointer;
  justify-content: center;
}
.dropdown-panel--set-quantity .panel__confirm-btn .text {
  color: #fff;
  text-align: center;
  font-size: 1.33333rem;
  font-weight: 700;
}

.input-block {
  display: flex;
  flex-direction: column;
}
.input-block .title {
  color: #fff;
  font-size: 1.33333rem;
  font-weight: 700;
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
}
.input-block .input {
  flex: 1;
  display: flex;
  flex-direction: row;
  padding: 1rem 1rem;
  align-items: center;
  background-color: #fff;
  border-radius: 1.33333rem;
  border: 4px solid #c7c7c7;
}
.input-block .input .icon {
  font-size: 2rem;
}
.input-block .input input[type=text],
.input-block .input input[type=date],
.input-block .input input[type=time] {
  width: 100%;
  display: flex;
  color: #000;
  font-size: 1.33333rem;
  font-weight: 400;
  border: none;
  padding-left: 1rem;
}
.input-block .input input[type=text]:focus {
  outline: none;
}
.input-block .input.disabled {
  background: #c7c7c7;
  cursor: not-allowed;
}
.input-block .input.disabled input {
  opacity: 0.5;
  background: #c7c7c7;
}

.input-block.left-connect .input {
  border-radius: 0rem 1.33333rem 1.33333rem 0rem;
  border-left: 1px solid #c7c7c7;
}

.input-block.right-connect .input {
  border-radius: 1.33333rem 0rem 0rem 1.33333rem;
  border-right: 1px solid #c7c7c7;
}

.input-block.all-connect .input {
  border-radius: 0;
  border-left: 1px solid #c7c7c7;
  border-right: 1px solid #c7c7c7;
}

.top-background {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: -100;
  width: 100%;
  height: 75rem;
  background-size: contain;
  background-repeat: no-repeat;
}

.header-container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2.16667rem;
  padding-top: 0.5rem;
  transition: 0.3s;
  z-index: 10;
}
.header-container .header__top-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-container .header__top-content .top-content__brand-container {
  display: flex;
  align-items: flex-start;
}
.header-container .header__top-content .top-content__brand-container .brand-container__brand-logo {
  display: flex;
  width: 13rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.83333rem;
  background: rgba(165, 165, 165, 0);
}
.header-container .header__top-content .top-content__brand-container .brand-container__brand-logo img {
  width: 100%;
  height: auto;
}
.header-container .header__top-content .top-content__brand-container .brand-container__brand-logo .brand-logo--default {
  display: flex;
}
.header-container .header__top-content .top-content__brand-container .brand-container__brand-logo .brand-logo--on-scroll {
  display: none;
}
.header-container .header__top-content .top-content__brand-container .brand-container__brand-name {
  display: flex;
  width: 12.5rem;
  height: 5rem;
  padding: 0.83333rem;
  align-items: center;
  gap: 0.83333rem;
}
.header-container .header__top-content .top-content__brand-container .brand-container__brand-name .text {
  color: #fff;
  font-size: 2.66667rem;
  font-style: italic;
  font-weight: 700;
}
.header-container .header__top-content .top-content__account-btn-group {
  display: flex;
  align-items: flex-start;
  gap: 1.66667rem;
}
.header-container .header__top-content .top-content__account-btn-group .account-btn-group__login-btn {
  color: #fff;
}
.header-container .header__top-content .top-content__account-btn-group .account-btn-group__login-btn .login-btn__icon {
  font-size: 2rem;
}
.header-container .header__top-content .top-content__account-btn-group .account-btn-group__sign-up-btn {
  border-radius: 0.66667rem;
  background: rgba(35, 110, 255, 0.8);
}
.header-container .header__top-content .top-content__account-btn-group .account-btn-group__sign-up-btn .text {
  color: #fff;
  font-weight: 700;
}
.header-container .header__navbar {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header-container .header__navbar .navbar__item {
  display: flex;
  width: 14rem;
  height: 4.33333rem;
  padding: 1.33333rem 1.66667rem;
  justify-content: center;
  align-items: center;
  gap: 0.83333rem;
  flex-shrink: 0;
  border-radius: 0.66667rem;
  cursor: pointer;
}
.header-container .header__navbar .navbar__item .text {
  flex: 1 0 0;
  color: #fff;
  text-align: center;
  font-size: 1.33333rem;
  font-weight: 700;
}

.header-container.on-scroll {
  background-color: #fff;
}
.header-container.on-scroll .header__top-content .top-content__brand-container .brand-container__brand-logo .brand-logo--default {
  display: none;
}
.header-container.on-scroll .header__top-content .top-content__brand-container .brand-container__brand-logo .brand-logo--on-scroll {
  display: flex;
}
.header-container.on-scroll .header__top-content .top-content__brand-container .brand-container__brand-name .text {
  color: #000;
}
.header-container.on-scroll .header__top-content .top-content__account-btn-group .account-btn-group__login-btn {
  border-radius: 0.66667rem;
  border: 1px solid #236eff;
}
.header-container.on-scroll .header__top-content .top-content__account-btn-group .account-btn-group__login-btn .text {
  color: #000;
}
.header-container.on-scroll .header__top-content .top-content__account-btn-group .account-btn-group__login-btn .login-btn__icon {
  font-size: 2rem;
  color: #000;
}
.header-container.on-scroll .header__navbar .navbar__item .text {
  color: #687176;
}

.slogan-container {
  display: flex;
  padding: 2.08333rem 0rem;
  justify-content: center;
  align-items: center;
  padding-top: 15rem;
}
.slogan-container .text {
  color: #fff;
  text-align: center;
  font-size: 2.66667rem;
  font-weight: 900;
}

.feature-container {
  display: flex;
  min-height: 50rem;
  flex-direction: column;
  align-items: center;
  gap: 1.66667rem;
  padding: 5rem;
  transition: all 0.3s;
}
.feature-container .feature-container__navbar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.feature-container .feature-container__navbar .navbar__item {
  display: flex;
  width: 19rem;
  height: 5.5rem;
  padding: 1.33333rem 1.66667rem;
  justify-content: flex-end;
  align-items: center;
  gap: 0.83333rem;
  flex-shrink: 0;
  cursor: pointer;
}
.feature-container .feature-container__navbar .navbar__item .text {
  flex: 1 0 0;
  height: 1.66667rem;
  color: #fff;
  text-align: center;
  font-size: 1.33333rem;
  font-weight: 700;
}
.feature-container .feature-container__navbar .navbar__item ion-icon {
  font-size: 3.33333rem;
  color: #fff;
}
.feature-container .feature-container__navbar .navbar__item.selected {
  border-radius: 0.66667rem;
  background: #fff;
}
.feature-container .feature-container__navbar .navbar__item.selected .text {
  color: black;
}
.feature-container .feature-container__navbar .navbar__item.selected .airplane-icon {
  font-size: 3.33333rem;
  color: #236eff;
}
.feature-container .feature-container__navbar .navbar__item.selected .bus-icon {
  font-size: 3.33333rem;
  color: #36c41f;
}
.feature-container .feature-container__navbar .navbar__item.selected .car-icon {
  font-size: 3.33333rem;
  color: #25dada;
}
.feature-container .feature-container__navbar .navbar__item.selected .business-icon {
  font-size: 3.33333rem;
  color: #1758a5;
}
.feature-container .feature-container__item {
  display: flex;
  flex-direction: column;
  gap: 0.83333rem 2.33333rem;
}
.feature-container .feature-container__item .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2.33333rem;
}
.feature-container #feature-container__flight .flight__flight-type {
  display: flex;
  flex-direction: row;
  gap: 1.66667rem;
}
.feature-container #feature-container__flight .flight__flight-type .flight-type-toggle {
  padding: 1.33333rem 1.66667rem;
  justify-content: center;
  align-items: center;
  gap: 0.83333rem;
  border-radius: 2rem;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.feature-container #feature-container__flight .flight__flight-type .flight-type-toggle .text {
  color: #fff;
  text-align: center;
  font-size: 1.33333rem;
  font-weight: 700;
}
.feature-container #feature-container__flight .flight__flight-type .flight-type-toggle.active {
  background: #236eff;
}
.feature-container #feature-container__flight .flight__ticket-info {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
}
.feature-container #feature-container__flight .flight__ticket-info .ticket-info__passenger {
  display: flex;
  width: 30.66667rem;
  padding: 1rem 1rem;
  align-items: center;
  border-radius: 0.66667rem;
  border: 1px solid #fff;
  background: rgba(244, 241, 241, 0.5);
  position: relative;
  cursor: pointer;
}
.feature-container #feature-container__flight .flight__ticket-info .ticket-info__passenger .icon {
  font-size: 2rem;
  color: #fff;
}
.feature-container #feature-container__flight .flight__ticket-info .ticket-info__passenger .drop-down-icon {
  align-self: flex-end;
  margin-left: auto;
}
.feature-container #feature-container__flight .flight__ticket-info .ticket-info__passenger .passenger__information {
  color: #fff;
  text-align: center;
  font-size: 1.33333rem;
  font-weight: 700;
  padding-left: 0.83333rem;
}
.feature-container #feature-container__flight .flight__ticket-info .ticket-info__passenger .passenger__dropdown-panel {
  top: 5rem;
  left: 0;
  width: 30.66667rem;
}
.feature-container #feature-container__flight .flight__ticket-info .ticket-info__seat-type {
  display: flex;
  width: 15rem;
  padding: 1rem 1rem;
  align-items: center;
  justify-content: space-between;
  gap: 0.83333rem;
  border-radius: 0.66667rem;
  border: 1px solid #fff;
  background: rgba(244, 241, 241, 0.5);
  position: relative;
  cursor: pointer;
}
.feature-container #feature-container__flight .flight__ticket-info .ticket-info__seat-type ion-icon {
  font-size: 2rem;
  color: #fff;
}
.feature-container #feature-container__flight .flight__ticket-info .ticket-info__seat-type .text {
  color: #fff;
  text-align: center;
  font-size: 1.33333rem;
  font-weight: 700;
}
.feature-container #feature-container__flight .flight__ticket-info .ticket-info__seat-type .seat-type__drop-down-panel {
  display: none;
  position: absolute;
  top: 5rem;
  left: 0;
  width: 100%;
  padding: 1rem 1rem;
  z-index: 2;
  border-radius: 0.66667rem;
  background: #fff;
}
.feature-container #feature-container__flight .flight__ticket-info .ticket-info__seat-type .seat-type__drop-down-panel .text {
  font-size: 1.33333rem;
  color: #000;
  padding: 0.5rem 0;
}
.feature-container #feature-container__flight .flight__ticket-info .ticket-info__seat-type .seat-type__drop-down-panel .drop-down-panel__item {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.feature-container #feature-container__flight .flight__ticket-info .ticket-info__seat-type .seat-type__drop-down-panel .drop-down-panel__item ion-icon {
  color: #000;
  font-size: 1rem;
  padding-right: 1rem;
}
.feature-container #feature-container__flight .flight__ticket-info .ticket-info__seat-type .seat-type__drop-down-panel .drop-down-panel__item ion-icon.selected {
  display: none;
}
.feature-container #feature-container__flight .flight__ticket-info .ticket-info__seat-type .seat-type__drop-down-panel .drop-down-panel__item ion-icon.unselected {
  display: flex;
}
.feature-container #feature-container__flight .flight__ticket-info .ticket-info__seat-type .seat-type__drop-down-panel .drop-down-panel__item.selected ion-icon.selected {
  display: flex;
}
.feature-container #feature-container__flight .flight__ticket-info .ticket-info__seat-type .seat-type__drop-down-panel .drop-down-panel__item.selected ion-icon.unselected {
  display: none;
}
.feature-container #feature-container__flight .flight__ticket-info .ticket-info__seat-type .seat-type__drop-down-panel.active {
  display: flex;
  flex-direction: column;
}
.feature-container #feature-container__flight .flight__trip-info-container .trip-info__location {
  flex: 10;
  display: flex;
  flex-direction: row;
}
.feature-container #feature-container__flight .flight__trip-info-container .trip-info__location .location__departure {
  flex: 1;
}
.feature-container #feature-container__flight .flight__trip-info-container .trip-info__location .location__destination {
  flex: 1;
}
.feature-container #feature-container__flight .flight__trip-info-container .trip-info__date {
  flex: 10;
  display: flex;
  flex-direction: row;
}
.feature-container #feature-container__flight .flight__trip-info-container .trip-info__date .date__departure {
  flex: 1;
}
.feature-container #feature-container__flight .flight__trip-info-container .trip-info__date .date__return {
  flex: 1;
}
.feature-container #feature-container__flight .flight__trip-info-container .trip-info--one-trip {
  display: flex;
  gap: 2rem;
  flex-direction: row;
}
.feature-container #feature-container__flight .flight__trip-info-container .trip-info--one-trip .trip-info--one-trip__submit-btn {
  margin-top: 2rem;
  height: 4.66666rem;
  width: 4.66666rem;
}
.feature-container #feature-container__flight .flight__trip-info-container .trip-info--many-trip {
  display: flex;
  gap: 2rem;
  flex-direction: row;
  margin-bottom: 2rem;
}
.feature-container #feature-container__flight .flight__trip-info-container .trip-info--many-trip .date__departure {
  flex: 1;
}
.feature-container #feature-container__flight .flight__trip-info-container .trip-info--many-trip .date__departure .input {
  border-radius: 1.33333rem 1.33333rem 1.33333rem 1.33333rem;
  border-right: 4px solid #c7c7c7;
}
.feature-container #feature-container__flight .flight__trip-info-container .trip-info--many-trip .remove-trip-btn {
  display: none;
  height: 6rem;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
.feature-container #feature-container__flight .flight__trip-info-container .trip-info--many-trip .remove-trip-btn ion-icon {
  font-size: 2rem;
  color: #fff;
}
.feature-container #feature-container__flight .flight__trip-info-container .trip-info__form--many-trip .trip-info__form--many-trip__container.can-remove-trip .remove-trip-btn {
  display: flex;
}
.feature-container #feature-container__flight .flight__trip-info-container .trip-info__form--many-trip .trip-info__add-more-btn {
  display: flex;
  height: 6rem;
  padding: 1.33333rem 1.66667rem;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  border-radius: 1.33333rem;
  border: 4px dashed #fff;
  cursor: pointer;
}
.feature-container #feature-container__flight .flight__trip-info-container .trip-info__form--many-trip .trip-info__add-more-btn ion-icon {
  font-size: 3rem;
  color: #fff;
  font-weight: 900;
}
.feature-container #feature-container__flight .flight__trip-info-container .trip-info__form--many-trip .trip-info__add-more-btn .text {
  color: #fff;
  text-align: center;
  font-size: 2.66667rem;
  font-weight: 700;
}
.feature-container #feature-container__flight .flight__trip-info-container .trip-info__form--many-trip .trip-info__add-more-btn.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.feature-container #feature-container__flight .flight__trip-info-container .trip-info__form--many-trip .trip-info--many-trip__submit-btn {
  display: flex;
  height: 6rem;
  padding: 1.33333rem 1.66667rem;
  align-items: center;
  justify-content: space-around;
  gap: 0.83333rem;
  border-radius: 2rem;
  border: 4px solid #c7c7c7;
  background: #ff7a50;
  cursor: pointer;
}
.feature-container #feature-container__flight .flight__trip-info-container .trip-info__form--many-trip .trip-info--many-trip__submit-btn ion-icon {
  font-size: 2rem;
  color: #fff;
  font-weight: 900;
}
.feature-container #feature-container__flight .flight__trip-info-container .trip-info__form--many-trip .trip-info--many-trip__submit-btn .text {
  color: #fff;
  font-size: 2rem;
}
.feature-container #feature-container__coach .coach__info-container .info-form {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.feature-container #feature-container__coach .coach__info-container .info-form .coach-info__location {
  flex: 10;
  display: flex;
  flex-direction: row;
}
.feature-container #feature-container__coach .coach__info-container .info-form .coach-info__location .location__departure {
  flex: 1;
}
.feature-container #feature-container__coach .coach__info-container .info-form .coach-info__location .location__destination {
  flex: 1;
}
.feature-container #feature-container__coach .coach__info-container .info-form .coach-info__date {
  flex: 10;
  display: flex;
  flex-direction: row;
}
.feature-container #feature-container__coach .coach__info-container .info-form .coach-info__date .date__departure {
  flex: 1;
}
.feature-container #feature-container__coach .coach__info-container .info-form .coach-info__date .date__return {
  flex: 1;
}
.feature-container #feature-container__coach .coach__info-container .info-form .coach-info__submit-btn {
  margin-top: 2rem;
  height: 4.66666rem;
  width: 4.66666rem;
}
.feature-container #feature-container__transfer .transfer-config {
  display: flex;
}
.feature-container #feature-container__transfer .transfer-config .transfer-info__driver-toggle {
  display: flex;
  padding: 0.83333rem 1.66667rem;
  align-items: center;
  gap: 0.83333rem;
  border-radius: 1.66667rem;
  border: 4px solid #c7c7c7;
  background: #fff;
  cursor: pointer;
}
.feature-container #feature-container__transfer .transfer-config .transfer-info__driver-toggle ion-icon {
  font-size: 2rem;
  color: #236eff;
}
.feature-container #feature-container__transfer .transfer-config .transfer-info__driver-toggle .text {
  color: #236eff;
  font-family: Inter;
  font-size: 1.33333rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.feature-container #feature-container__transfer .transfer__info-container .info-form {
  display: flex;
  flex-direction: row;
}
.feature-container #feature-container__transfer .transfer__info-container .info-form .input-block {
  flex: 1;
}
.feature-container #feature-container__transfer .transfer__info-container .info-form .btn-submit {
  border-radius: 0 1.33333rem 1.33333rem 0;
  margin-top: 2rem;
  width: 4rem;
}
.feature-container #feature-container__hotel .hotel__info-container .info-form {
  display: flex;
  flex-direction: row;
}
.feature-container #feature-container__hotel .hotel__info-container .info-form .input-block {
  flex: 1;
}
.feature-container #feature-container__hotel .hotel__info-container .info-form .btn-submit {
  border-radius: 0 1.33333rem 1.33333rem 0;
  margin-top: 2.1rem;
  width: 4rem;
}

.feature-container.floating-container {
  position: relative;
  background-color: #000;
  border: 1px solid #fff;
  border-radius: 1rem;
  transition: all 0.3s;
  z-index: 101;
}

.main-content {
  background-color: #fff;
  border-radius: 5rem 5rem 0 0;
  padding-top: 10rem;
}
.main-content .main-content__container {
  margin-bottom: 10rem;
}
.main-content .main-content__container .title-container {
  display: flex;
  width: 65.16667rem;
  height: 5.16667rem;
  padding: 1.33333rem 1.66667rem;
  padding-left: 0;
  justify-content: flex-start;
  align-items: center;
  gap: 0.83333rem;
}
.main-content .main-content__container .title-container .text {
  color: #373d41;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.location-ad-card-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.location-ad-card-container .location-ad-card-container__item-container {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
}
.location-ad-card-container .location-ad-card-container__item-container .item-container__item {
  position: relative;
  width: 30.66667rem;
  height: 19.16667rem;
  flex-shrink: 0;
  border-radius: 0.66667rem;
  background: #d5d5d5;
}
.location-ad-card-container .location-ad-card-container__item-container .item-container__item .item__information {
  position: absolute;
  top: 0;
  z-index: 1;
}
.location-ad-card-container .location-ad-card-container__item-container .item-container__item .item__information .information__name {
  display: flex;
  padding: 1.66667rem 1.66667rem 0.83333rem 1.66667rem;
  justify-content: flex-start;
  align-items: center;
  gap: 0.83333rem;
}
.location-ad-card-container .location-ad-card-container__item-container .item-container__item .item__information .information__name .text {
  color: #fff;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.location-ad-card-container .location-ad-card-container__item-container .item-container__item .item__information .information__description {
  display: flex;
  padding: 0.83333rem 1.66667rem;
  justify-content: flex-start;
  align-items: center;
  gap: 0.83333rem;
}
.location-ad-card-container .location-ad-card-container__item-container .item-container__item .item__information .information__description .text {
  color: #fff;
  font-size: 1.33333rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.location-ad-card-container .location-ad-card-container__item-container .item-container__item .item__image-background {
  position: absolute;
  z-index: 0;
  height: 100%;
  width: 100%;
  top: 0;
  border-radius: 0.66667rem;
}

.location-ad-slider-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}
.location-ad-slider-container .location-ad-slider-container__slider-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.location-ad-slider-container .location-ad-slider-container__slider-container .slider-container__slider {
  display: flex;
  align-items: flex-start;
  gap: 3.6rem;
  overflow-x: scroll;
  overflow: hidden;
}
.location-ad-slider-container .location-ad-slider-container__slider-container .slider-container__slider .slider__item {
  position: relative;
  width: 22.5rem;
  height: 25rem;
  flex-shrink: 0;
  border-radius: 0.66667rem;
  background: #d5d5d5;
}
.location-ad-slider-container .location-ad-slider-container__slider-container .slider-container__slider .slider__item .item__information {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  padding-bottom: 1rem;
}
.location-ad-slider-container .location-ad-slider-container__slider-container .slider-container__slider .slider__item .item__information .information__name {
  display: flex;
  padding: 1.66667rem 1.66667rem 0.83333rem 1.66667rem;
  justify-content: flex-end;
  align-items: center;
  gap: 0.83333rem;
}
.location-ad-slider-container .location-ad-slider-container__slider-container .slider-container__slider .slider__item .item__information .information__name .text {
  color: #fff;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.location-ad-slider-container .location-ad-slider-container__slider-container .slider-container__slider .slider__item .item__information .information__description {
  display: flex;
  padding: 0.83333rem 1.66667rem;
  justify-content: flex-start;
  align-items: center;
  gap: 0.83333rem;
}
.location-ad-slider-container .location-ad-slider-container__slider-container .slider-container__slider .slider__item .item__information .information__description .text {
  color: #fff;
  font-size: 1.33333rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.location-ad-slider-container .location-ad-slider-container__slider-container .slider-container__slider .slider__item .item__image-background {
  position: absolute;
  z-index: 0;
  height: 100%;
  width: 100%;
  top: 0;
  border-radius: 0.66667rem;
}
.location-ad-slider-container .location-ad-slider-container__slider-container .slider-container__nav {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  left: 0;
  right: 0;
  bottom: 50%;
}

footer {
  display: flex;
  padding: 1rem 0rem;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background: #4a4a4b;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.41667rem;
}
.footer-container .footer__top-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.footer-container .footer__top-content .top-content__brand-container {
  display: flex;
  align-items: flex-start;
}
.footer-container .footer__top-content .top-content__brand-container .brand-container__brand-logo {
  display: flex;
  width: 13rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.83333rem;
  background: rgba(165, 165, 165, 0);
}
.footer-container .footer__top-content .top-content__brand-container .brand-container__brand-logo img {
  width: 100%;
  height: auto;
}
.footer-container .footer__top-content .top-content__brand-container .brand-container__brand-name {
  display: flex;
  width: 12.5rem;
  height: 5rem;
  padding: 0.83333rem;
  align-items: center;
  gap: 0.83333rem;
}
.footer-container .footer__top-content .top-content__brand-container .brand-container__brand-name .text {
  color: #fff;
  font-size: 2rem;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
}
.footer-container .footer__top-content .top-content__media-container {
  display: flex;
  gap: 1.25rem;
}
.footer-container .footer__information-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  align-self: stretch;
  color: white;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}/*# sourceMappingURL=index.css.map */