.btn-default {
  display: flex;
  width: 12.5rem; // 150px
  height: 4.25rem; // 51px
  padding: 1.33333rem 1rem; // 16px 12px
  align-items: center;
  justify-content: center;
  gap: 0.83333rem;
  flex-shrink: 0;

  cursor: pointer;

  border-radius: 0.66667rem; // 8px
  border: 1px solid #fff;

  .text {
    text-align: right;
    font-size: 1.33333rem; // 16px
    font-weight: 500;
  }
}
.btn-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.83333rem;
  flex-shrink: 0;
  background: #ff7a50;

  border-radius: 1rem;

  cursor: pointer;

  ion-icon {
    font-size: 2rem;
    color: #fff;
  }
}

.btn-dropdown {
  display: flex;
  width: 30.66667rem;
  padding: 1rem 1rem;
  align-items: center;

  border-radius: 0.66667rem;
  border: 1px solid #fff;
  background: rgba(244, 241, 241, 0.5);

  cursor: pointer;

  ion-icon {
    font-size: 2rem;
    color: #fff;
  }
  .drop-down-icon {
    align-self: flex-end;
    margin-left: auto;
  }
  .text {
    color: #fff;
    text-align: center;
    font-size: 1.33333rem;
    font-weight: 700;

    padding-left: 0.83333rem;
  }
}

.btn-toggle {
  min-width: 15rem;
  padding: 1.33333rem 1.66667rem;
  justify-content: center;
  align-items: center;
  gap: 0.83333rem;
  border-radius: 2rem;
  background: rgba(0, 0, 0, 0.5);

  cursor: pointer;

  .text {
    color: #fff;
    text-align: center;
    font-size: 1.33333rem;
    font-weight: 700;
  }
}
.btn-toggle.active {
  background: #236eff;
}

.input-block {
  display: flex;
  flex-direction: column;
  .title {
    color: #fff;
    font-size: 1.33333rem;
    font-weight: 700;

    padding-left: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .input {
    flex: 1;
    display: flex;
    flex-direction: row;
    padding: 1rem 1rem;
    align-items: center;
    background-color: #fff;

    border-radius: 1.33333rem;
    border: 4px solid #c7c7c7;

    .icon {
      font-size: 2rem;
    }
    input[type="text"],
    input[type="date"],
    input[type="time"] {
      width: 100%;
      display: flex;
      color: #000;
      font-size: 1.33333rem;
      font-weight: 400;
      border: none;
      padding-left: 1rem;
    }
    input[type="text"]:focus {
      outline: none;
    }
  }
  .input.disabled {
    background: #c7c7c7;

    cursor: not-allowed;
    input {
      opacity: 0.5;
      background: #c7c7c7;
    }
  }
}
.input-block.left-connect {
  .input {
    border-radius: 0rem 1.33333rem 1.33333rem 0rem;
    border-left: 1px solid #c7c7c7;
  }
}
.input-block.right-connect {
  .input {
    border-radius: 1.33333rem 0rem 0rem 1.33333rem;
    border-right: 1px solid #c7c7c7;
  }
}
.input-block.all-connect {
  .input {
    border-radius: 0;
    border-left: 1px solid #c7c7c7;
    border-right: 1px solid #c7c7c7;
  }
}

.top-background {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: -100;
  width: 100%;
  height: 75rem; // 900px
  background-size: contain;
  background-repeat: no-repeat;
}

.header-container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2.16667rem; // 26px

  padding-top: 0.5rem; // 6px

  transition: 0.3s;

  z-index: 10;

  .header__top-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .top-content__brand-container {
      display: flex;
      align-items: flex-start;

      .brand-container__brand-logo {
        display: flex;
        width: 13rem; // 156px
        flex-direction: column;
        align-items: flex-start;
        gap: 0.83333rem; // 10px
        background: rgba(165, 165, 165, 0);

        img {
          width: 100%;
          height: auto;
        }

        .brand-logo--default {
          display: flex;
        }

        .brand-logo--on-scroll {
          display: none;
        }
      }

      .brand-container__brand-name {
        display: flex;
        width: 12.5rem; // 150px
        height: 5rem; // 60px
        padding: 0.83333rem; // 10px
        align-items: center;
        gap: 0.83333rem; // 10px

        .text {
          color: #fff;
          font-size: 2.66667rem;
          font-style: italic;
          font-weight: 700;
        }
      }
    }

    .top-content__account-btn-group {
      display: flex;
      align-items: flex-start;
      gap: 1.66667rem; // 20px

      .account-btn-group__login-btn {
        color: #fff;

        .login-btn__icon {
          font-size: 2rem;
        }
      }

      .account-btn-group__sign-up-btn {
        border-radius: 0.66667rem;
        background: rgba(35, 110, 255, 0.8);

        .text {
          color: #fff;
          font-weight: 700;
        }
      }
    }
  }

  .header__navbar {
    display: flex;
    align-items: center;
    gap: 1rem; // 12px

    .navbar__item {
      display: flex;
      width: 14rem; // 168px
      height: 4.33333rem; // 52px
      padding: 1.33333rem 1.66667rem; // 16px 20px
      justify-content: center;
      align-items: center;
      gap: 0.83333rem; // 10px
      flex-shrink: 0;

      border-radius: 0.66667rem; // 8px

      cursor: pointer;

      .text {
        flex: 1 0 0; // cái này hoạt động như nào ???

        color: #fff;
        text-align: center;
        font-size: 1.33333rem; // 16px
        font-weight: 700;
      }
    }
  }
}

.header-container.on-scroll {
  background-color: #fff;

  .header__top-content {
    .top-content__brand-container {
      .brand-container__brand-logo {
        .brand-logo--default {
          display: none;
        }

        .brand-logo--on-scroll {
          display: flex;
        }
      }

      .brand-container__brand-name {
        .text {
          color: #000;
        }
      }
    }

    .top-content__account-btn-group {
      .account-btn-group__login-btn {
        border-radius: 0.66667rem;
        border: 1px solid #236eff;

        .text {
          color: #000;
        }

        .login-btn__icon {
          font-size: 2rem;
          color: #000;
        }
      }
    }
  }

  .header__navbar {
    .navbar__item {
      .text {
        color: #687176;
      }
    }
  }
}

.slogan-container {
  display: flex;
  padding: 2.08333rem 0rem; // 25px 0px
  justify-content: center;
  align-items: center;

  padding-top: 15rem; // 180px

  .text {
    color: #fff;
    text-align: center;
    font-size: 2.66667rem; // 32px
    font-weight: 900;
  }
}

.feature-container {
  display: flex;
  min-height: 50rem; // 600px
  flex-direction: column;
  align-items: center;
  gap: 1.66667rem; // 20px
  padding: 5rem;
  transition: all 0.3s;

  .feature-container__navbar {
    display: flex;
    align-items: center;
    gap: 0.5rem; // 6px

    .navbar__item {
      display: flex;
      width: 19rem; // 228px
      height: 5.5rem; // 66px
      padding: 1.33333rem 1.66667rem; // 16px 20px
      justify-content: flex-end;
      align-items: center;
      gap: 0.83333rem; // 10px
      flex-shrink: 0;

      cursor: pointer;

      .text {
        flex: 1 0 0;

        height: 1.66667rem; // 20px
        color: #fff;
        text-align: center;
        font-size: 1.33333rem; // 16px
        font-weight: 700;
      }

      ion-icon {
        font-size: 3.33333rem;
        color: #fff;
      }
    }

    .navbar__item.selected {
      border-radius: 0.66667rem; // 8px
      background: #fff;

      .text {
        color: black;
      }

      .airplane-icon {
        font-size: 3.33333rem;
        color: #236eff;
      }
      .bus-icon {
        font-size: 3.33333rem;
        color: #36c41f;
      }
      .car-icon {
        font-size: 3.33333rem;
        color: #25dada;
      }
      .business-icon {
        font-size: 3.33333rem;
        color: #1758a5;
      }
    }
  }

  .feature-container__item {
    display: flex;
    flex-direction: column;
    gap: 0.83333rem 2.33333rem;
    .row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 2.33333rem;
    }
  }

  #feature-container__flight {
    .flight__flight-type {
      display: flex;
      flex-direction: row;
      gap: 1.66667rem;
      .flight-type-toggle {
        padding: 1.33333rem 1.66667rem;
        justify-content: center;
        align-items: center;
        gap: 0.83333rem;
        border-radius: 2rem;
        background: rgba(0, 0, 0, 0.5);

        cursor: pointer;

        .text {
          color: #fff;
          text-align: center;
          font-size: 1.33333rem;
          font-weight: 700;
        }
      }
      .flight-type-toggle.active {
        background: #236eff;
      }
    }
    .flight__ticket-info {
      display: flex;
      align-items: flex-start;
      gap: 2rem;

      .ticket-info__passenger {
        display: flex;
        width: 30.66667rem;
        padding: 1rem 1rem;
        align-items: center;
        // gap: 0.83333rem;

        border-radius: 0.66667rem;
        border: 1px solid #fff;
        background: rgba(244, 241, 241, 0.5);

        cursor: pointer;

        ion-icon {
          font-size: 2rem;
          color: #fff;
        }
        .drop-down-icon {
          align-self: flex-end;
          margin-left: auto;
        }
        .passenger__information {
          color: #fff;
          text-align: center;
          font-size: 1.33333rem;
          font-weight: 700;

          padding-left: 0.83333rem;
        }
      }
      .ticket-info__seat-type {
        display: flex;
        width: 15rem;
        padding: 1rem 1rem;
        align-items: center;
        justify-content: space-between;
        gap: 0.83333rem;
        border-radius: 0.66667rem;
        border: 1px solid #fff;
        background: rgba(244, 241, 241, 0.5);

        position: relative;

        cursor: pointer;

        ion-icon {
          font-size: 2rem;
          color: #fff;
        }
        .text {
          color: #fff;
          text-align: center;
          font-size: 1.33333rem;
          font-weight: 700;
        }
        .seat-type__drop-down-panel {
          display: none;
          position: absolute;
          top: 4.5rem;
          left: 0;
          width: 100%;
          padding: 1rem 1rem;

          border-radius: 0.66667rem;
          background: #fff;

          .text {
            font-size: 1.33333rem;
            color: #000;
            padding: 0.5rem 0;
          }
          .drop-down-panel__item {
            display: flex;
            flex-direction: row;
            align-items: center;
            ion-icon {
              color: #000;
              font-size: 1rem;
              padding-right: 1rem;
            }
            ion-icon.selected {
              display: none;
            }
            ion-icon.unselected {
              display: flex;
            }
          }
          .drop-down-panel__item.selected {
            ion-icon.selected {
              display: flex;
            }
            ion-icon.unselected {
              display: none;
            }
          }
        }
        .seat-type__drop-down-panel.active {
          display: flex;
          flex-direction: column;
        }
      }
    }
    .flight__trip-info-container {
      .trip-info__location {
        flex: 10;
        display: flex;
        flex-direction: row;

        .location__departure {
          flex: 1;
        }
        .location__destination {
          flex: 1;
        }
      }
      .trip-info__date {
        flex: 10;
        display: flex;
        flex-direction: row;

        .date__departure {
          flex: 1;
        }
        .date__return {
          flex: 1;
        }
      }
      .trip-info--one-trip {
        display: flex;
        gap: 2rem;
        flex-direction: row;

        .trip-info--one-trip__submit-btn {
          margin-top: 2rem;
          height: 4.66666rem;
          width: 4.66666rem;
        }
      }
      .trip-info--many-trip {
        display: flex;
        gap: 2rem;
        flex-direction: row;

        margin-bottom: 2rem;
        .date__departure {
          flex: 1;
          .input {
            border-radius: 1.33333rem 1.33333rem 1.33333rem 1.33333rem;
            border-right: 4px solid #c7c7c7;
          }
        }
      }
      .trip-info__form--many-trip {
        .trip-info__add-more-btn {
          display: flex;
          height: 6rem;
          padding: 1.33333rem 1.66667rem;
          justify-content: center;
          align-items: center;
          gap: 2rem;
          border-radius: 1.33333rem;
          border: 4px dashed #fff;

          cursor: pointer;

          ion-icon {
            font-size: 3rem;
            color: #fff;
            font-weight: 900;
          }
          .text {
            color: #fff;
            text-align: center;
            font-size: 2.66667rem;
            font-weight: 700;
          }
        }
        .trip-info__add-more-btn.disabled {
          opacity: 0.5;
          cursor: not-allowed;
        }

        .trip-info--many-trip__submit-btn {
          display: flex;
          height: 6rem;
          padding: 1.33333rem 1.66667rem;
          align-items: center;
          justify-content: space-around;

          gap: 0.83333rem;
          border-radius: 2rem;
          border: 4px solid #c7c7c7;
          background: #ff7a50;
          cursor: pointer;

          ion-icon {
            font-size: 2rem;
            color: #fff;
            font-weight: 900;
          }
          .text {
            color: #fff;
            font-size: 2rem;
          }
        }
      }
    }
  }
  #feature-container__coach {
    .coach__info-container .info-form {
      display: flex;
      flex-direction: row;
      gap: 2rem;

      .coach-info__location {
        flex: 10;
        display: flex;
        flex-direction: row;

        .location__departure {
          flex: 1;
        }
        .location__destination {
          flex: 1;
        }
      }
      .coach-info__date {
        flex: 10;
        display: flex;
        flex-direction: row;

        .date__departure {
          flex: 1;
        }
        .date__return {
          flex: 1;
        }
      }
      .coach-info__submit-btn {
        margin-top: 2rem;
        height: 4.66666rem;
        width: 4.66666rem;
      }
    }
  }
  #feature-container__transfer {
    .transfer-config {
      display: flex;
      .transfer-info__driver-toggle {
        display: flex;
        padding: 0.83333rem 1.66667rem;
        align-items: center;
        gap: 0.83333rem;
        border-radius: 1.66667rem;
        border: 4px solid #c7c7c7;
        background: #fff;

        cursor: pointer;
        ion-icon{
          font-size: 2rem;
          color: #236eff;
        }
        .text {
          color: #236eff;
          font-family: Inter;
          font-size: 1.33333rem;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
      }
    }
    .transfer__info-container .info-form {
      display: flex;
      flex-direction: row;

      display: flex;
      flex-direction: row;
      .transfer-info__location {
        flex: 1;
      }
      .transfer-info__start-date {
        flex: 1;
      }
      .transfer-info__start-time {
        flex: 1;
      }
      .transfer-info__end-date {
        flex: 1;
      }
      .car-rental__end-time {
        flex: 1;
      }
      .btn-submit {
        border-radius: 0 1.33333rem 1.33333rem 0;
        margin-top: 2rem;
        width: 4rem;
      }
      .info-form__airport-pick-up {
        display: flex;
        gap: 2rem;

        .info-form__location {
          flex: 10;
          display: flex;
          flex-direction: row;
          .location__departure {
            flex: 1;
          }
          .location__destination {
            flex: 1;
          }
        }
        .info-form__time {
          flex: 10;
          display: flex;
          flex-direction: row;
          .time__pick-up-date {
            flex: 1;
          }
          .time__pick-up-time {
            flex: 1;
          }
        }
        .transfer-info__submit-btn {
          margin-top: 2rem;
          height: 4.66666rem;
          width: 4.66666rem;
        }
      }
    }
  }
}
.feature-container.floating-container {
  position: relative;
  background-color: #000;
  border: 1px solid #fff;
  border-radius: 1rem;
  transition: all 0.3s;
  z-index: 101;
}

.main-content {
  background-color: #fff;
  border-radius: 5rem 5rem 0 0;

  padding-top: 10rem;

  .main-content__container {
    margin-bottom: 10rem;

    .title-container {
      display: flex;
      width: 65.16667rem;
      height: 5.16667rem;
      padding: 1.33333rem 1.66667rem;
      padding-left: 0;
      justify-content: flex-start;
      align-items: center;
      gap: 0.83333rem;

      .text {
        color: #373d41;
        font-size: 2rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }
  }
}

.location-ad-card-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .location-ad-card-container__item-container {
    display: flex;
    // width: 96rem;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;

    .item-container__item {
      position: relative;
      width: 30.66667rem;
      height: 19.16667rem;
      flex-shrink: 0;
      border-radius: 0.66667rem;
      background: #d5d5d5;

      .item__information {
        position: absolute;
        top: 0;
        z-index: 1;

        .information__name {
          display: flex;
          padding: 1.66667rem 1.66667rem 0.83333rem 1.66667rem;
          justify-content: flex-start;
          align-items: center;
          gap: 0.83333rem;

          .text {
            color: #fff;
            font-size: 2rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }
        }

        .information__description {
          display: flex;
          padding: 0.83333rem 1.66667rem;
          justify-content: flex-start;
          align-items: center;
          gap: 0.83333rem;

          .text {
            color: #fff;
            font-size: 1.33333rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }
        }
      }

      .item__image-background {
        position: absolute;
        z-index: 0;
        height: 100%;
        width: 100%;
        top: 0;
        border-radius: 0.66667rem;
      }
    }
  }
}

.location-ad-slider-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;

  .location-ad-slider-container__slider-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .slider-container__slider {
      display: flex;
      align-items: flex-start;
      gap: 3.6rem;

      overflow-x: scroll;
      overflow: hidden;

      .slider__item {
        position: relative;
        width: 22.5rem;
        height: 25rem;
        flex-shrink: 0;
        border-radius: 0.66667rem;
        background: #d5d5d5;

        .item__information {
          position: absolute;
          bottom: 0;
          right: 0;
          z-index: 1;
          padding-bottom: 1rem;

          .information__name {
            display: flex;
            padding: 1.66667rem 1.66667rem 0.83333rem 1.66667rem;
            justify-content: flex-end;
            align-items: center;
            gap: 0.83333rem;

            .text {
              color: #fff;
              font-size: 2rem;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
            }
          }

          .information__description {
            display: flex;
            padding: 0.83333rem 1.66667rem;
            justify-content: flex-start;
            align-items: center;
            gap: 0.83333rem;

            .text {
              color: #fff;
              font-size: 1.33333rem;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
            }
          }
        }

        .item__image-background {
          position: absolute;
          z-index: 0;
          height: 100%;
          width: 100%;
          top: 0;
          border-radius: 0.66667rem;
        }
      }
    }

    .slider-container__nav {
      position: absolute;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      left: 0;
      right: 0;
      bottom: 50%;
    }
  }
}

footer {
  display: flex;
  padding: 1rem 0rem;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background: #4a4a4b;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.41667rem;

  .footer__top-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;

    .top-content__brand-container {
      display: flex;
      align-items: flex-start;

      .brand-container__brand-logo {
        display: flex;
        width: 13rem; // 156px
        flex-direction: column;
        align-items: flex-start;
        gap: 0.83333rem; // 10px
        background: rgba(165, 165, 165, 0);

        img {
          width: 100%;
          height: auto;
        }
      }

      .brand-container__brand-name {
        display: flex;
        width: 12.5rem; // 150px
        height: 5rem; // 60px
        padding: 0.83333rem; // 10px
        align-items: center;
        gap: 0.83333rem; // 10px

        .text {
          color: #fff;
          font-size: 2rem; // 24px
          font-style: italic;
          font-weight: 700;
          line-height: normal;
        }
      }
    }

    .top-content__media-container {
      display: flex;
      gap: 1.25rem;
    }
  }

  .footer__information-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    align-self: stretch;

    color: white;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
