*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter";
}

html{
    font-size: 12px;
}

body{
    position: relative;
}

.container-fluid{
    width: 100%; // sau này phải đổi lại
}

.container{
    width: 80%; // sau này phải đổi lại
    padding: auto;
    margin: auto;
}

.btn-default{
    display: flex;
    width: 12.5rem; // 150px
    height: 4.25rem; // 51px
    padding: 1.33333rem 1rem; // 16px 12px
    align-items: center;
    justify-content: center;
    gap: 0.83333rem;
    flex-shrink: 0;

    border-radius: 0.66667rem; // 8px
    border: 1px solid #FFF;

    .text{
        text-align: right;
        font-size: 1.33333rem; // 16px
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
}

.btn-toggle{
    display: inline-flex;
    padding: 1.33333rem 1.66667rem; // 16px 20px
    justify-content: center;
    align-items: center;
    gap: 0.83333rem; // 10px
    border-radius: 2rem; // 24px
    background: rgba(0, 0, 0, 0.50);

    .text{
        height: 1.66667rem; // 20px

        color: #FFF;
        text-align: center;
        font-family: Inter;
        font-size: 1.33333rem; // 16px
        font-style: normal;
        font-weight: 700;
        line-height: normal;   
    }
}
.btn-toggle.on{
    background: #236EFF;
}

.btn-dropdown{
    display: flex;
    // width: 15.5rem; // 186px
    height: 4.5rem; // 54px
    padding: 1.33333rem 1.66667rem; // 16px 20px
    align-items: center;
    gap: 0.83333rem; // 10px
    flex-shrink: 0;

    border-radius: 0.66667rem; // 8px
    border: 1px solid #FFF;
    background: rgba(244, 241, 241, 0.50);

    p,div{
        color: #FFF;
        text-align: center;
        font-size: 1.33333rem; // 16px
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    img{
        stroke-width: 2px;
        stroke: #FFF;
    }
}

.divine-line{
}

.select-dropdown{
    display: flex;
    // width: 23.5rem;
    padding: 1.33333rem 1.66667rem;
    align-items: center;
    gap: 0.83333rem;
    border-radius: 1.33333rem 1.33333rem 1.33333rem 1.33333rem;
    border-top: 4px solid #C7C7C7;
    border-right: 4px solid #C7C7C7;
    border-bottom: 4px solid #C7C7C7;
    border-left: 4px solid #C7C7C7;
    background: #FFF;

    .text{
        color: #000;
        text-align: center;
        font-size: 1.33333rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.top-background{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: -100;
    width: 100%;
    height: 75rem; // 900px
    border-radius: 0rem 0rem 2rem 2rem;
    background-size: contain;
    background-repeat: no-repeat;
}

.header-container{
    position: fixed; // chua on lam lam lai khi dung js
    top: 0;
    right: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2.16667rem; // 26px

    padding-top: 0.5rem; // 6px

    transition:0.3s;

    z-index: 1000;

    .header__top-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        .top-content__brand-container{
            display: flex;
            align-items: flex-start;
            .brand-container__brand-logo{
                display: flex;
                width: 13rem; // 156px
                flex-direction: column;
                align-items: flex-start;
                gap: 0.83333rem; // 10px
                background: rgba(165, 165, 165, 0.00);
            
                img{
                    width: 100%;
                    height: auto;
                }
            }
            .brand-container__brand-name{
                display: flex;
                width: 12.5rem; // 150px
                height: 5rem; // 60px
                padding: 0.83333rem; // 10px
                align-items: center;
                gap: 0.83333rem; // 10px
            
                .text{
                    color: #FFF;
                    font-size: 2rem; // 24px
                    font-style: italic;
                    font-weight: 700;
                    line-height: normal;    
                }
            }
        }
        .top-content__account-btn-group{
            display: flex;
            align-items: flex-start;
            gap: 1.66667rem; // 20px
    
            .account-btn-group__login-btn{
                color: #FFF;
                .login-btn__icon--default{
                    display: flex;
                }
                .login-btn__icon--on-scroll{
                    display: none;
                }
            }
            .account-btn-group__sign-up-btn{
                border-radius: 0.66667rem;
                background: rgba(35, 110, 255, 0.80);
    
                .text{
                    color: #FFF;
                    font-weight: 700; 
                }
            }
        }
    }
    .header__navbar{
        display: flex;
        align-items: center;
        gap: 1rem; // 12px

        .navbar__item{
            display: flex;
            width: 14rem; // 168px
            height: 4.33333rem; // 52px
            padding: 1.33333rem 1.66667rem; // 16px 20px
            justify-content: center;
            align-items: center;
            gap: 0.83333rem; // 10px
            flex-shrink: 0;
        
            border-radius: 0.66667rem; // 8px

            .text{
                flex: 1 0 0; // cái này hoạt động như nào ???
            
                color: #FFF;
                text-align: center;
                font-size: 1.33333rem; // 16px
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
        }
    }
}

.header-container.on-scroll{
    background-color: #fff;
    .header__top-content{
        .top-content__brand-container{
            .brand-container__brand-name{
                .text{
                    color: #000;
                }
            }
        }
        .top-content__account-btn-group{
    
            .account-btn-group__login-btn{
                border-radius: 0.66667rem;
                border: 1px solid #236EFF;
                .text{
                    color: #000;
                }
                .login-btn__icon--default{
                    display: none;
                }
                .login-btn__icon--on-scroll{
                    display: flex;
                }
            }
        }
    }
    .header__navbar{

        .navbar__item{

            .text{
                color: #687176;
            }
        }
    }
}



.slogan-container{
    display: flex;
    padding: 2.08333rem 0rem; // 25px 0px
    justify-content: center;
    align-items: center;

    padding-top: 15rem; // 180px

    .text{
        color: #FFF;
        text-align: center;
        font-size: 2.66667rem; // 32px
        font-style: normal;
        font-weight: 900;
        line-height: normal;
    }
}

.feature-container{
    display: flex;
    height: 50rem; // 600px
    flex-direction: column;
    align-items: center;
    gap: 1.66667rem; // 20px

    .feature-container__navbar{
        display: flex;
        align-items: center;
        gap: 0.5rem; // 6px

        .navbar__item{
            display: flex;
            width: 19rem; // 228px
            height: 5.5rem; // 66px
            padding: 1.33333rem 1.66667rem; // 16px 20px
            justify-content: flex-end;
            align-items: center;
            gap: 0.83333rem; // 10px
            flex-shrink: 0;

            .text{
                flex: 1 0 0;

                height: 1.66667rem; // 20px
                color: #FFF;
                text-align: center;
                font-size: 1.33333rem; // 16px
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }

            .item__icon--default{
                display: flex;
                width: 3.33333rem; // 40px
                height: 3rem; // 36px
                flex-shrink: 0;
            }
            .item__icon--selected{
                display: none;
                width: 3.33333rem; // 40px
                height: 3rem; // 36px
                flex-shrink: 0;
            }
        }
        .navbar__item.selected{
            border-radius: 0.66667rem; // 8px
            background: #FFF;
            
            .text{
                color: black;
            }

            .item__icon--default{
                display: none;
            }
            .item__icon--selected{
                display: flex;
            }
        }
    }

    .feature-container__plane{
        display: flex;
        height: 33rem; // 396px
        align-items: flex-start;
        align-content: flex-start;
        gap: 0.83333rem 2.33333rem; // 10px 28px
        flex-shrink: 0;
        flex-wrap: wrap;

        .plane__filter-container{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            .filter-container__toggle-btn-group{
                display: flex;
                align-items: flex-start;
                gap: 2rem; // 24px
            }
            .filter-container__dropdown-btn-group{
                display: flex;
                align-items: flex-start;
                gap: 2rem; // 24px
            }
        }

        .plane__detail-container{
            display: flex;
            gap: 0.83333rem 2.33333rem; // 10px 28px

            .detail-container__location-select-container{
                display: flex;
                flex-direction: row;
                padding: 1rem;
                padding-left: 0;
                flex-basis: 50%;
                
                .location-select-container__location-start{
                    flex-grow: 1;
                    .title-text{
                        display: flex;
                        color: #FFF;
                        font-size: 1.33333rem;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;

                        padding-left: 1rem;
                        padding-bottom: 1rem;
                    }
                    .location-start__select-dropdown{
                        border-radius: 1.33333rem 0rem 0rem 1.33333rem;
                        border-right: 1px solid #C7C7C7;
                    }
                }
                .location-select-container__location-end{
                    flex-grow: 1;
                    .title-text{
                        display: flex;
                        color: #FFF;
                        font-size: 1.33333rem;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;

                        padding-left: 1rem;
                        padding-bottom: 1rem;
                    }
                    .location-end__select-dropdown{
                        border-radius: 0rem 1.33333rem 1.33333rem 0rem;
                        border-left: 1px solid #C7C7C7;
                    }
                }
                
            }

            .detail-container__time-select-container{
                display: flex;
                flex-direction: row;
                padding: 1rem;
                padding-right: 0;
                flex-basis: 50%;

                .location-select-container__time{
                    flex-grow: 1;
                    .title-text{
                        display: flex;
                        color: #FFF;
                        font-size: 1.33333rem;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;

                        padding-left: 1rem;
                        padding-bottom: 1rem;
                    }
                    .time__select-dropdown{
                        display: flex;
                        height: 4.66667rem;
                        padding: 1.33333rem 1.66667rem;
                        align-items: center;
                        gap: 0.83333rem;
                        border-radius: 1.33333rem;
                        border: 4px solid #C7C7C7;
                        background: #FFF;
                        
                        .text{
                            color: #000;
                            text-align: center;
                            font-size: 1.33333rem;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                        }
                    }
                }
            }
        }
        .detail-container__footer-btn-group{
            display: flex;
            flex-direction: row;
            align-content: center;
            justify-content: space-between;

            margin-top: 5rem;
            .footer-btn-group__add-more-btn{
                display: flex;
                width: 47rem;
                height: 6rem;
                padding: 1.33333rem 1.66667rem;
                justify-content: center;
                align-items: center;
                gap: 4.16667rem;
                border-radius: 1.33333rem;
                border: 4px dashed #FFF;

                .text{
                    color: #FFF;
                    text-align: center;
                    font-size: 2.66667rem;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    text-transform: uppercase;
                }
            }
            .footer-btn-group__find-btn{
                width: 22.5rem;
                height: 6rem;
                padding: 1.33333rem 1.66667rem;
                justify-content: flex-end;
                border-radius: 2rem;
                border: 4px solid #C7C7C7;
                background: #FF7A50;
                
                .text{
                    display: flex;
                    height: 1.66667rem;
                    flex-direction: column;
                    justify-content: center;
                    flex: 1 0 0;
                    color: #FFF;
                    text-align: right;
                    font-size: 2rem;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }
            }
        }
    }
}

.main-content{
    background-color: #FFF;
    border-radius: 5rem 5rem 0 0;

    padding-top: 10rem;
    .main-content__container{
        margin-bottom: 10rem;

        .title-container{
            display: flex;
            width: 65.16667rem;
            height: 5.16667rem;
            padding: 1.33333rem 1.66667rem;
            padding-left: 0;
            justify-content: flex-start;
            align-items: center;
            gap: 0.83333rem;
    
            .text{
                color: #373D41;
                font-size: 2rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
        }
    }
}

.location-ad-card-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .location-ad-card-container__title-container{

    }
    .location-ad-card-container__item-container{
        display: flex;
        // width: 96rem;
        align-items: flex-start;
        align-content: flex-start;
        gap: 2rem;
        flex-wrap: wrap;

        .item-container__item{
            position: relative;
            width: 30.66667rem;
            height: 19.16667rem;
            flex-shrink: 0;
            border-radius: 0.66667rem;
            background: #D5D5D5;

            .item__information{
                position: absolute;
                top: 0;
                z-index: 1;
                .information__name{
                    display: flex;
                    padding: 1.66667rem 1.66667rem 0.83333rem 1.66667rem;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 0.83333rem;
    
                    .text{
                        color: #FFF;
                        font-size: 2rem;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                    }
                }
                .information__description{
                    display: flex;
                    padding: 0.83333rem 1.66667rem;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 0.83333rem;
    
                    .text{
                        color: #FFF;
                        font-size: 1.33333rem;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                    }
                }
            }
            .item__image-background{
                position: absolute;
                z-index: 0;
                height: 100%;
                width: 100%;
                top: 0;
                border-radius: 0.66667rem;
            }       
        }
    }
}

.location-ad-slider-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .location-ad-slider-container__title-container{}
    .location-ad-slider-container__slider-container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .slider-container__slider{
            display: flex;
            align-items: flex-start;
            gap: 2rem;

            .slider__item{
                position: relative;
                width: 22.5rem;
                height: 25rem;
                flex-shrink: 0;
                border-radius: 0.66667rem;
                background: #D5D5D5;
                .item__information{
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    z-index: 1;
                    padding-bottom: 1rem;
                    .information__name{
                        display: flex;
                        padding: 1.66667rem 1.66667rem 0.83333rem 1.66667rem;
                        justify-content: flex-end;
                        align-items: center;
                        gap: 0.83333rem;
        
                        .text{
                            color: #FFF;
                            font-size: 2rem;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;
                        }
                    }
                    .information__description{
                        display: flex;
                        padding: 0.83333rem 1.66667rem;
                        justify-content: flex-start;
                        align-items: center;
                        gap: 0.83333rem;
        
                        .text{
                            color: #FFF;
                            font-size: 1.33333rem;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;
                        }
                    }
                }
                .item__image-background{
                    position: absolute;
                    z-index: 0;
                    height: 100%;
                    width: 100%;
                    top: 0;
                    border-radius: 0.66667rem;
                }   
            }
        }
        .slider-container__nav{

            .nav__left{}
            .nav__right{}
        }
    }
}

footer{
    display: flex;
    padding: 1rem 0rem;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background: #4A4A4B;
}
.footer-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.41667rem;

    .footer__top-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;

        .top-content__brand-container{
            display: flex;
            align-items: flex-start;
            .brand-container__brand-logo{
                display: flex;
                width: 13rem; // 156px
                flex-direction: column;
                align-items: flex-start;
                gap: 0.83333rem; // 10px
                background: rgba(165, 165, 165, 0.00);
            
                img{
                    width: 100%;
                    height: auto;
                }
            }
            .brand-container__brand-name{
                display: flex;
                width: 12.5rem; // 150px
                height: 5rem; // 60px
                padding: 0.83333rem; // 10px
                align-items: center;
                gap: 0.83333rem; // 10px
            
                .text{
                    color: #FFF;
                    font-size: 2rem; // 24px
                    font-style: italic;
                    font-weight: 700;
                    line-height: normal;    
                }
            }
        }
        .top-content__media-container{
            display: flex;
            gap: 1.25rem;
        }
    }
    .footer__information-content{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        align-self: stretch;
    
        color: white;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}