* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

html {
  font-size: 12px;
}

body {
  position: relative;
}

.container-fluid {
  width: 100%;
}

.container {
  width: 80%;
  padding: auto;
  margin: auto;
}

.btn-default {
  display: flex;
  width: 12.5rem;
  height: 4.25rem;
  padding: 1.33333rem 1rem;
  align-items: center;
  justify-content: center;
  gap: 0.83333rem;
  flex-shrink: 0;
  border-radius: 0.66667rem;
  border: 1px solid #FFF;
}
.btn-default .text {
  text-align: right;
  font-size: 1.33333rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.btn-toggle {
  display: inline-flex;
  padding: 1.33333rem 1.66667rem;
  justify-content: center;
  align-items: center;
  gap: 0.83333rem;
  border-radius: 2rem;
  background: rgba(0, 0, 0, 0.5);
}
.btn-toggle .text {
  height: 1.66667rem;
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 1.33333rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.btn-toggle.on {
  background: #236EFF;
}

.btn-dropdown {
  display: flex;
  height: 4.5rem;
  padding: 1.33333rem 1.66667rem;
  align-items: center;
  gap: 0.83333rem;
  flex-shrink: 0;
  border-radius: 0.66667rem;
  border: 1px solid #FFF;
  background: rgba(244, 241, 241, 0.5);
}
.btn-dropdown p, .btn-dropdown div {
  color: #FFF;
  text-align: center;
  font-size: 1.33333rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.btn-dropdown img {
  stroke-width: 2px;
  stroke: #FFF;
}

.select-dropdown {
  display: flex;
  padding: 1.33333rem 1.66667rem;
  align-items: center;
  gap: 0.83333rem;
  border-radius: 1.33333rem 1.33333rem 1.33333rem 1.33333rem;
  border-top: 4px solid #C7C7C7;
  border-right: 4px solid #C7C7C7;
  border-bottom: 4px solid #C7C7C7;
  border-left: 4px solid #C7C7C7;
  background: #FFF;
}
.select-dropdown .text {
  color: #000;
  text-align: center;
  font-size: 1.33333rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.top-background {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: -100;
  width: 100%;
  height: 75rem;
  border-radius: 0rem 0rem 2rem 2rem;
  background-size: contain;
  background-repeat: no-repeat;
}

.header-container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2.16667rem;
  padding-top: 0.5rem;
}
.header-container .header__top-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-container .header__top-content .top-content__brand-container {
  display: flex;
  align-items: flex-start;
}
.header-container .header__top-content .top-content__account-btn-group {
  display: flex;
  align-items: flex-start;
  gap: 1.66667rem;
}
.header-container .header__top-content .top-content__account-btn-group .account-btn-group__login-btn {
  color: #FFF;
}
.header-container .header__top-content .top-content__account-btn-group .account-btn-group__sign-up-btn {
  border-radius: 0.66667rem;
  background: rgba(35, 110, 255, 0.8);
}
.header-container .header__top-content .top-content__account-btn-group .account-btn-group__sign-up-btn .text {
  color: #FFF;
  font-weight: 700;
}
.header-container .header__navbar {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header-container .header__navbar .navbar__item {
  display: flex;
  width: 14rem;
  height: 4.33333rem;
  padding: 1.33333rem 1.66667rem;
  justify-content: center;
  align-items: center;
  gap: 0.83333rem;
  flex-shrink: 0;
  border-radius: 0.66667rem;
}
.header-container .header__navbar .navbar__item .text {
  flex: 1 0 0;
  color: #FFF;
  text-align: center;
  font-size: 1.33333rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.brand-container__brand-logo {
  display: flex;
  width: 13rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.83333rem;
  background: rgba(165, 165, 165, 0);
}
.brand-container__brand-logo img {
  width: 100%;
  height: auto;
}

.brand-container__brand-name {
  display: flex;
  width: 12.5rem;
  height: 5rem;
  padding: 0.83333rem;
  align-items: center;
  gap: 0.83333rem;
}
.brand-container__brand-name .text {
  color: #FFF;
  font-size: 2rem;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
}

.slogan-container {
  display: flex;
  padding: 2.08333rem 0rem;
  justify-content: center;
  align-items: center;
  padding-top: 15rem;
}
.slogan-container .text {
  color: #FFF;
  text-align: center;
  font-size: 2.66667rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.feature-container {
  display: flex;
  height: 50rem;
  flex-direction: column;
  align-items: center;
  gap: 1.66667rem;
}
.feature-container .feature-container__navbar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.feature-container .feature-container__navbar .navbar__item {
  display: flex;
  width: 19rem;
  height: 5.5rem;
  padding: 1.33333rem 1.66667rem;
  justify-content: flex-end;
  align-items: center;
  gap: 0.83333rem;
  flex-shrink: 0;
}
.feature-container .feature-container__navbar .navbar__item .text {
  flex: 1 0 0;
  height: 1.66667rem;
  color: #FFF;
  text-align: center;
  font-size: 1.33333rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.feature-container .feature-container__navbar .navbar__item .item__icon--default {
  display: flex;
  width: 3.33333rem;
  height: 3rem;
  flex-shrink: 0;
}
.feature-container .feature-container__navbar .navbar__item .item__icon--selected {
  display: none;
  width: 3.33333rem;
  height: 3rem;
  flex-shrink: 0;
}
.feature-container .feature-container__navbar .navbar__item.selected {
  border-radius: 0.66667rem;
  background: #FFF;
}
.feature-container .feature-container__navbar .navbar__item.selected .text {
  color: black;
}
.feature-container .feature-container__navbar .navbar__item.selected .item__icon--default {
  display: none;
}
.feature-container .feature-container__navbar .navbar__item.selected .item__icon--selected {
  display: flex;
}
.feature-container .feature-container__plane {
  display: flex;
  height: 33rem;
  align-items: flex-start;
  align-content: flex-start;
  gap: 0.83333rem 2.33333rem;
  flex-shrink: 0;
  flex-wrap: wrap;
}
.feature-container .feature-container__plane .plane__filter-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.feature-container .feature-container__plane .plane__filter-container .filter-container__toggle-btn-group {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
}
.feature-container .feature-container__plane .plane__filter-container .filter-container__dropdown-btn-group {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
}
.feature-container .feature-container__plane .plane__detail-container {
  display: flex;
  gap: 0.83333rem 2.33333rem;
}
.feature-container .feature-container__plane .plane__detail-container .detail-container__location-select-container {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  padding-left: 0;
  flex-basis: 50%;
}
.feature-container .feature-container__plane .plane__detail-container .detail-container__location-select-container .location-select-container__location-start {
  flex-grow: 1;
}
.feature-container .feature-container__plane .plane__detail-container .detail-container__location-select-container .location-select-container__location-start .title-text {
  display: flex;
  color: #FFF;
  font-size: 1.33333rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-left: 1rem;
  padding-bottom: 1rem;
}
.feature-container .feature-container__plane .plane__detail-container .detail-container__location-select-container .location-select-container__location-start .location-start__select-dropdown {
  border-radius: 1.33333rem 0rem 0rem 1.33333rem;
  border-right: 1px solid #C7C7C7;
}
.feature-container .feature-container__plane .plane__detail-container .detail-container__location-select-container .location-select-container__location-end {
  flex-grow: 1;
}
.feature-container .feature-container__plane .plane__detail-container .detail-container__location-select-container .location-select-container__location-end .title-text {
  display: flex;
  color: #FFF;
  font-size: 1.33333rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-left: 1rem;
  padding-bottom: 1rem;
}
.feature-container .feature-container__plane .plane__detail-container .detail-container__location-select-container .location-select-container__location-end .location-end__select-dropdown {
  border-radius: 0rem 1.33333rem 1.33333rem 0rem;
  border-left: 1px solid #C7C7C7;
}
.feature-container .feature-container__plane .plane__detail-container .detail-container__time-select-container {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  padding-right: 0;
  flex-basis: 50%;
}
.feature-container .feature-container__plane .plane__detail-container .detail-container__time-select-container .location-select-container__time {
  flex-grow: 1;
}
.feature-container .feature-container__plane .plane__detail-container .detail-container__time-select-container .location-select-container__time .title-text {
  display: flex;
  color: #FFF;
  font-size: 1.33333rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-left: 1rem;
  padding-bottom: 1rem;
}
.feature-container .feature-container__plane .plane__detail-container .detail-container__time-select-container .location-select-container__time .time__select-dropdown {
  display: flex;
  height: 4.66667rem;
  padding: 1.33333rem 1.66667rem;
  align-items: center;
  gap: 0.83333rem;
  border-radius: 1.33333rem;
  border: 4px solid #C7C7C7;
  background: #FFF;
}
.feature-container .feature-container__plane .plane__detail-container .detail-container__time-select-container .location-select-container__time .time__select-dropdown .text {
  color: #000;
  text-align: center;
  font-size: 1.33333rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.feature-container .feature-container__plane .detail-container__footer-btn-group {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  margin-top: 5rem;
}
.feature-container .feature-container__plane .detail-container__footer-btn-group .footer-btn-group__add-more-btn {
  display: flex;
  width: 47rem;
  height: 6rem;
  padding: 1.33333rem 1.66667rem;
  justify-content: center;
  align-items: center;
  gap: 4.16667rem;
  border-radius: 1.33333rem;
  border: 4px dashed #FFF;
}
.feature-container .feature-container__plane .detail-container__footer-btn-group .footer-btn-group__add-more-btn .text {
  color: #FFF;
  text-align: center;
  font-size: 2.66667rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.feature-container .feature-container__plane .detail-container__footer-btn-group .footer-btn-group__find-btn {
  width: 22.5rem;
  height: 6rem;
  padding: 1.33333rem 1.66667rem;
  justify-content: flex-end;
  border-radius: 2rem;
  border: 4px solid #C7C7C7;
  background: #FF7A50;
}
.feature-container .feature-container__plane .detail-container__footer-btn-group .footer-btn-group__find-btn .text {
  display: flex;
  height: 1.66667rem;
  flex-direction: column;
  justify-content: center;
  flex: 1 0 0;
  color: #FFF;
  text-align: right;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.main-content {
  background-color: #FFF;
  border-radius: 5rem 5rem 0 0;
  padding-top: 10rem;
}
.main-content .main-content__container {
  margin-bottom: 10rem;
}
.main-content .main-content__container .title-container {
  display: flex;
  width: 65.16667rem;
  height: 5.16667rem;
  padding: 1.33333rem 1.66667rem;
  justify-content: flex-end;
  align-items: center;
  gap: 0.83333rem;
}
.main-content .main-content__container .title-container .text {
  color: #373D41;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.location-ad-card-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.location-ad-card-container .location-ad-card-container__item-container {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  gap: 2rem;
  flex-wrap: wrap;
}
.location-ad-card-container .location-ad-card-container__item-container .item-container__item {
  position: relative;
  width: 30.66667rem;
  height: 19.16667rem;
  flex-shrink: 0;
  border-radius: 0.66667rem;
  background: #D5D5D5;
}
.location-ad-card-container .location-ad-card-container__item-container .item-container__item .item__information {
  position: absolute;
  top: 0;
  z-index: 1;
}
.location-ad-card-container .location-ad-card-container__item-container .item-container__item .item__information .information__name {
  display: flex;
  padding: 1.66667rem 1.66667rem 0.83333rem 1.66667rem;
  justify-content: flex-start;
  align-items: center;
  gap: 0.83333rem;
}
.location-ad-card-container .location-ad-card-container__item-container .item-container__item .item__information .information__name .text {
  color: #FFF;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.location-ad-card-container .location-ad-card-container__item-container .item-container__item .item__information .information__description {
  display: flex;
  padding: 0.83333rem 1.66667rem;
  justify-content: flex-start;
  align-items: center;
  gap: 0.83333rem;
}
.location-ad-card-container .location-ad-card-container__item-container .item-container__item .item__information .information__description .text {
  color: #FFF;
  font-size: 1.33333rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.location-ad-card-container .location-ad-card-container__item-container .item-container__item .item__image-background {
  position: absolute;
  z-index: 0;
  height: 100%;
  width: 100%;
  top: 0;
  border-radius: 0.66667rem;
}

.location-ad-slider-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.location-ad-slider-container .location-ad-slider-container__slider-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.location-ad-slider-container .location-ad-slider-container__slider-container .slider-container__slider {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
}
.location-ad-slider-container .location-ad-slider-container__slider-container .slider-container__slider .slider__item {
  position: relative;
  width: 22.5rem;
  height: 25rem;
  flex-shrink: 0;
  border-radius: 0.66667rem;
  background: #D5D5D5;
}
.location-ad-slider-container .location-ad-slider-container__slider-container .slider-container__slider .slider__item .item__information {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}
.location-ad-slider-container .location-ad-slider-container__slider-container .slider-container__slider .slider__item .item__information .information__name {
  display: flex;
  padding: 1.66667rem 1.66667rem 0.83333rem 1.66667rem;
  justify-content: flex-end;
  align-items: center;
  gap: 0.83333rem;
}
.location-ad-slider-container .location-ad-slider-container__slider-container .slider-container__slider .slider__item .item__information .information__name .text {
  color: #FFF;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.location-ad-slider-container .location-ad-slider-container__slider-container .slider-container__slider .slider__item .item__information .information__description {
  display: flex;
  padding: 0.83333rem 1.66667rem;
  justify-content: flex-start;
  align-items: center;
  gap: 0.83333rem;
}
.location-ad-slider-container .location-ad-slider-container__slider-container .slider-container__slider .slider__item .item__information .information__description .text {
  color: #FFF;
  font-size: 1.33333rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.location-ad-slider-container .location-ad-slider-container__slider-container .slider-container__slider .slider__item .item__image-background {
  position: absolute;
  z-index: 0;
  height: 100%;
  width: 100%;
  top: 0;
  border-radius: 0.66667rem;
}
footer {
  display: flex;
  padding: 1rem 0rem;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background: #4A4A4B;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.41667rem;
}
.footer-container .footer__top-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.footer-container .footer__top-content .top-content__brand-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.footer-container .footer__top-content .top-content__brand-container .brand-container__logo {
  display: flex;
  width: 13rem;
  flex-direction: column;
  gap: 0.83333rem;
}
.footer-container .footer__top-content .top-content__brand-container .brand-container__brand-name {
  display: flex;
  width: 30.66667rem;
  height: 5rem;
  padding: 0.83333rem;
  gap: 0.83333rem;
}
.footer-container .footer__top-content .top-content__brand-container .brand-container__brand-name .text {
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 2.66667rem;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
  text-transform: lowercase;
}
.footer-container .footer__top-content .top-content__media-container {
  display: flex;
  gap: 1.25rem;
}
.footer-container .footer__information-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  align-self: stretch;
  color: white;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/*# sourceMappingURL=style.css.map */
