body {
    background-color: #F1F1F1;
}


.account-content-container {
    border-radius: 0.57143rem;
    margin-top: 3.57143rem;

    display: flex;
    flex-direction: row;

    .account-navbar {
        background-color: white;
        border-radius: 0.57143rem;
        width: 25%;
        height: 25rem !important;

        .nav-label {
            border-bottom: 1px solid #C7C7C7;
            padding: 2rem;

            .label-text {
                font-weight: bold;
                font-size: 18px;
            }
        }

        .nav-tab-group {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            padding-top: 1rem;
            padding-bottom: 0.5rem;

            .nav-tab {
                width: 100%;
                justify-content: left;
                border-radius: 0;
                border: 0;
                padding: 2rem;

                .text {
                    font-size: 16px;
                    color: #354148;
                    font-weight: 500;
                }

                ion-icon {
                    font-size: 28px;
                    color: #236EFF;
                    font-weight: 700;
                }
            }

            .nav-tab:hover {
                background-color: rgb(240, 245, 255);
            }
        }
    }

    .account-content-window {
        width: 75%;
        padding-left: 1rem;

        #user-pane {
            background-color: white;
            border-radius: 0.57143rem;
        }

        #cart-pane,
        #bill-pane {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            .pane-label {
                border-bottom: 0;
            }

            .cart-item {
                padding: 2rem;
                background-color: white;
                border-radius: 0.57143rem;
                display: flex;
                flex-direction: row;

                .item-title-container {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 1rem;

                    ion-icon {
                        font-size: 28px;
                        color: #236EFF;
                        font-weight: 700;
                    }

                    .item-title {
                        font-size: 16px;
                        font-weight: bold;
                    }
                }


                .item-text {
                    font-size: 14px;
                    display: flex;
                    flex-direction: row;
                    color: #606060;
                    font-weight: bold;
                }

                .item-label {
                    padding: 0.35714rem;
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    width: 50%;
                    border-right: 1px solid #C7C7C7;
                }

                .item-actions {
                    padding: 0.35714rem;
                    display: flex;
                    flex-direction: column;
                    align-items: end;
                    justify-content: space-between;
                    width: 50%;

                    .flight-unpaid-bill-pay-btn,
                    .hotel-unpaid-bill-pay-btn,
                    .bus-unpaid-bill-pay-btn,
                    .car-unpaid-bill-pay-btn {
                        width: auto;
                        padding: 2rem;
                        background-color: #FF5E1F;

                        .text {
                            color: white;
                            font-weight: bold;
                        }
                    }

                    .flight-paid-bill-pay-btn,
                    .hotel-paid-bill-pay-btn,
                    .bus-paid-bill-pay-btn,
                    .car-paid-bill-pay-btn {
                        width: 15rem;
                        padding: 1rem;
                        background-color: #236EFF;

                        .text {
                            color: white;
                            font-weight: bold;
                        }
                    }
                }
            }
        }

        .account-content-pane {
            padding: 2rem;

            .pane-label {
                padding-bottom: 2rem;
                border-bottom: 1px solid #C7C7C7;

                .label-text {
                    font-weight: bolder;
                    font-size: 18px;
                }
            }

            .info-form {
                display: flex;
                flex-direction: column;
                padding-top: 2rem;
                padding-bottom: 4rem;
                gap: 2rem;

                #user-info-col-3 {
                    width: 30rem;
                }

                #password-info-col {
                    flex-direction: row;
                    width: 100%;
                    align-items: center;
                    gap: 0;

                    .form-input {
                        width: 100% !important;
                    }
                }

                .form-content {
                    display: flex;
                    flex-direction: row;

                    .info-col {
                        display: flex;
                        flex-direction: column;
                        width: 25rem;
                        gap: 1rem;

                        .input-block {
                            flex-direction: row;
                            gap: 1rem;

                            .title {
                                flex: 1;
                                white-space: nowrap;
                            }

                            .text {
                                color: #000;
                            }

                            .form-input {
                                flex: 1;
                                width: 10rem !important;
                                height: 2.14286rem !important;
                                border-radius: 0.57143rem;
                                border: 1.5px solid #AAB3B8;
                                background-color: #FFF;
                            }

                            select {
                                padding-top: 0;
                                padding-bottom: 0;

                            }
                        }
                    }
                }

                .btn-container {
                    display: flex;
                    flex-direction: row;
                    justify-content: start;
                    gap: 2rem;
                    padding-left: 1rem;


                    .form-btn-save {
                        background-color: #236EFF;
                        color: white;
                        width: 10rem;
                    }

                    .form-btn-reset {
                        background-color: #F1F1F1;
                        color: #236EFF;
                        width: 10rem;
                    }

                    .text {
                        font-weight: bold;
                    }
                }
            }
        }
    }
}