body {
  background-color: #F1F1F1;
}

.account-content-container {
  border-radius: 0.57143rem;
  margin-top: 3.57143rem;
  display: flex;
  flex-direction: row;
}
.account-content-container .account-navbar {
  background-color: white;
  border-radius: 0.57143rem;
  width: 25%;
  height: 25rem !important;
}
.account-content-container .account-navbar .nav-label {
  border-bottom: 1px solid #C7C7C7;
  padding: 2rem;
}
.account-content-container .account-navbar .nav-label .label-text {
  font-weight: bold;
  font-size: 18px;
}
.account-content-container .account-navbar .nav-tab-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}
.account-content-container .account-navbar .nav-tab-group .nav-tab {
  width: 100%;
  justify-content: left;
  border-radius: 0;
  border: 0;
  padding: 2rem;
}
.account-content-container .account-navbar .nav-tab-group .nav-tab .text {
  font-size: 16px;
  color: #354148;
  font-weight: 500;
}
.account-content-container .account-navbar .nav-tab-group .nav-tab ion-icon {
  font-size: 28px;
  color: #236EFF;
  font-weight: 700;
}
.account-content-container .account-navbar .nav-tab-group .nav-tab:hover {
  background-color: rgb(240, 245, 255);
}
.account-content-container .account-content-window {
  width: 75%;
  padding-left: 1rem;
}
.account-content-container .account-content-window #user-pane {
  background-color: white;
  border-radius: 0.57143rem;
}
.account-content-container .account-content-window #cart-pane,
.account-content-container .account-content-window #bill-pane {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.account-content-container .account-content-window #cart-pane .pane-label,
.account-content-container .account-content-window #bill-pane .pane-label {
  border-bottom: 0;
}
.account-content-container .account-content-window #cart-pane .cart-item,
.account-content-container .account-content-window #bill-pane .cart-item {
  padding: 2rem;
  background-color: white;
  border-radius: 0.57143rem;
  display: flex;
  flex-direction: row;
}
.account-content-container .account-content-window #cart-pane .cart-item .item-title-container,
.account-content-container .account-content-window #bill-pane .cart-item .item-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.account-content-container .account-content-window #cart-pane .cart-item .item-title-container ion-icon,
.account-content-container .account-content-window #bill-pane .cart-item .item-title-container ion-icon {
  font-size: 28px;
  color: #236EFF;
  font-weight: 700;
}
.account-content-container .account-content-window #cart-pane .cart-item .item-title-container .item-title,
.account-content-container .account-content-window #bill-pane .cart-item .item-title-container .item-title {
  font-size: 16px;
  font-weight: bold;
}
.account-content-container .account-content-window #cart-pane .cart-item .item-text,
.account-content-container .account-content-window #bill-pane .cart-item .item-text {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  color: #606060;
  font-weight: bold;
}
.account-content-container .account-content-window #cart-pane .cart-item .item-label,
.account-content-container .account-content-window #bill-pane .cart-item .item-label {
  padding: 0.35714rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
  border-right: 1px solid #C7C7C7;
}
.account-content-container .account-content-window #cart-pane .cart-item .item-actions,
.account-content-container .account-content-window #bill-pane .cart-item .item-actions {
  padding: 0.35714rem;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
  width: 50%;
}
.account-content-container .account-content-window #cart-pane .cart-item .item-actions .flight-unpaid-bill-pay-btn,
.account-content-container .account-content-window #cart-pane .cart-item .item-actions .hotel-unpaid-bill-pay-btn,
.account-content-container .account-content-window #cart-pane .cart-item .item-actions .bus-unpaid-bill-pay-btn,
.account-content-container .account-content-window #cart-pane .cart-item .item-actions .car-unpaid-bill-pay-btn,
.account-content-container .account-content-window #bill-pane .cart-item .item-actions .flight-unpaid-bill-pay-btn,
.account-content-container .account-content-window #bill-pane .cart-item .item-actions .hotel-unpaid-bill-pay-btn,
.account-content-container .account-content-window #bill-pane .cart-item .item-actions .bus-unpaid-bill-pay-btn,
.account-content-container .account-content-window #bill-pane .cart-item .item-actions .car-unpaid-bill-pay-btn {
  width: auto;
  padding: 2rem;
  background-color: #FF5E1F;
}
.account-content-container .account-content-window #cart-pane .cart-item .item-actions .flight-unpaid-bill-pay-btn .text,
.account-content-container .account-content-window #cart-pane .cart-item .item-actions .hotel-unpaid-bill-pay-btn .text,
.account-content-container .account-content-window #cart-pane .cart-item .item-actions .bus-unpaid-bill-pay-btn .text,
.account-content-container .account-content-window #cart-pane .cart-item .item-actions .car-unpaid-bill-pay-btn .text,
.account-content-container .account-content-window #bill-pane .cart-item .item-actions .flight-unpaid-bill-pay-btn .text,
.account-content-container .account-content-window #bill-pane .cart-item .item-actions .hotel-unpaid-bill-pay-btn .text,
.account-content-container .account-content-window #bill-pane .cart-item .item-actions .bus-unpaid-bill-pay-btn .text,
.account-content-container .account-content-window #bill-pane .cart-item .item-actions .car-unpaid-bill-pay-btn .text {
  color: white;
  font-weight: bold;
}
.account-content-container .account-content-window #cart-pane .cart-item .item-actions .flight-paid-bill-pay-btn,
.account-content-container .account-content-window #cart-pane .cart-item .item-actions .hotel-paid-bill-pay-btn,
.account-content-container .account-content-window #cart-pane .cart-item .item-actions .bus-paid-bill-pay-btn,
.account-content-container .account-content-window #cart-pane .cart-item .item-actions .car-paid-bill-pay-btn,
.account-content-container .account-content-window #bill-pane .cart-item .item-actions .flight-paid-bill-pay-btn,
.account-content-container .account-content-window #bill-pane .cart-item .item-actions .hotel-paid-bill-pay-btn,
.account-content-container .account-content-window #bill-pane .cart-item .item-actions .bus-paid-bill-pay-btn,
.account-content-container .account-content-window #bill-pane .cart-item .item-actions .car-paid-bill-pay-btn {
  width: 15rem;
  padding: 1rem;
  background-color: #236EFF;
}
.account-content-container .account-content-window #cart-pane .cart-item .item-actions .flight-paid-bill-pay-btn .text,
.account-content-container .account-content-window #cart-pane .cart-item .item-actions .hotel-paid-bill-pay-btn .text,
.account-content-container .account-content-window #cart-pane .cart-item .item-actions .bus-paid-bill-pay-btn .text,
.account-content-container .account-content-window #cart-pane .cart-item .item-actions .car-paid-bill-pay-btn .text,
.account-content-container .account-content-window #bill-pane .cart-item .item-actions .flight-paid-bill-pay-btn .text,
.account-content-container .account-content-window #bill-pane .cart-item .item-actions .hotel-paid-bill-pay-btn .text,
.account-content-container .account-content-window #bill-pane .cart-item .item-actions .bus-paid-bill-pay-btn .text,
.account-content-container .account-content-window #bill-pane .cart-item .item-actions .car-paid-bill-pay-btn .text {
  color: white;
  font-weight: bold;
}
.account-content-container .account-content-window .account-content-pane {
  padding: 2rem;
}
.account-content-container .account-content-window .account-content-pane .pane-label {
  padding-bottom: 2rem;
  border-bottom: 1px solid #C7C7C7;
}
.account-content-container .account-content-window .account-content-pane .pane-label .label-text {
  font-weight: bolder;
  font-size: 18px;
}
.account-content-container .account-content-window .account-content-pane .info-form {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 4rem;
  gap: 2rem;
}
.account-content-container .account-content-window .account-content-pane .info-form #user-info-col-3 {
  width: 30rem;
}
.account-content-container .account-content-window .account-content-pane .info-form #password-info-col {
  flex-direction: row;
  width: 100%;
  align-items: center;
  gap: 0;
}
.account-content-container .account-content-window .account-content-pane .info-form #password-info-col .form-input {
  width: 100% !important;
}
.account-content-container .account-content-window .account-content-pane .info-form .form-content {
  display: flex;
  flex-direction: row;
}
.account-content-container .account-content-window .account-content-pane .info-form .form-content .info-col {
  display: flex;
  flex-direction: column;
  width: 25rem;
  gap: 1rem;
}
.account-content-container .account-content-window .account-content-pane .info-form .form-content .info-col .input-block {
  flex-direction: row;
  gap: 1rem;
}
.account-content-container .account-content-window .account-content-pane .info-form .form-content .info-col .input-block .title {
  flex: 1;
  white-space: nowrap;
}
.account-content-container .account-content-window .account-content-pane .info-form .form-content .info-col .input-block .text {
  color: #000;
}
.account-content-container .account-content-window .account-content-pane .info-form .form-content .info-col .input-block .form-input {
  flex: 1;
  width: 10rem !important;
  height: 2.14286rem !important;
  border-radius: 0.57143rem;
  border: 1.5px solid #AAB3B8;
  background-color: #FFF;
}
.account-content-container .account-content-window .account-content-pane .info-form .form-content .info-col .input-block select {
  padding-top: 0;
  padding-bottom: 0;
}
.account-content-container .account-content-window .account-content-pane .info-form .btn-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 2rem;
  padding-left: 1rem;
}
.account-content-container .account-content-window .account-content-pane .info-form .btn-container .form-btn-save {
  background-color: #236EFF;
  color: white;
  width: 10rem;
}
.account-content-container .account-content-window .account-content-pane .info-form .btn-container .form-btn-reset {
  background-color: #F1F1F1;
  color: #236EFF;
  width: 10rem;
}
.account-content-container .account-content-window .account-content-pane .info-form .btn-container .text {
  font-weight: bold;
}/*# sourceMappingURL=account.css.map */