#feature__transfer-search{

    .transfer-search__config{
        #config__have-driver-checkbox{
            background: #FFF;
            
            display: flex;
            align-items: center;
            gap: 0.83333rem;

            padding: 0.83333rem 1.66667rem;
            border-radius: 1.66667rem;
            border: 5px solid #9CC4FF;
            
            cursor: pointer;

            .text{
                color: #236EFF;
                font-size: 1.33333rem;
                font-weight: 700;
            }
            ion-icon{
                color: #236EFF;
                font-size: 1.33333rem;
            }
            ion-icon.checked{
                display: none;
            }
            ion-icon.unchecked{
                display: flex;
            }
        }
        #config__have-driver-checkbox.checked{

            ion-icon.checked{
                display: flex;
            }
            ion-icon.unchecked{
                display: none;
            }
        }
    }
    
    .input{
        .time__input{
            display: flex;
            flex-direction: row;
            width: 100%;
            margin-left: 1rem;
            .hour{
                flex-grow: 1;
            }
            .minute{
                flex-grow: 1;
            }
            .text{
                color: #000;
                font-family: Inter;
                font-size: 1rem;
                font-style: normal;
                line-height: normal;
                text-align: center;
            }
            .time__select{
                    width: 100%;
                    -webkit-appearance: none;
                    text-align: center;
                    border: none;
                    border-bottom: 1px solid #000;
            }
        }
    }
}