body .main-container {
  min-height: 67vh;
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  gap: 2rem;
  width: 70%;
}
body .main-container #search-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 0rem 0.57143rem 0.57143rem 0rem;
  background: #D4D4D4;
}
body .main-container #search-container .search-info-container {
  display: flex;
  width: 70%;
  padding: 1.42857rem;
  padding-right: 5rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.71429rem;
  flex-shrink: 0;
  border-radius: 0rem 3.57143rem 3.57143rem 0rem;
  background: #FFF;
}
body .main-container #search-container .search-info-container .title {
  color: #000;
  font-family: Inter;
  font-size: 1.71429rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
body .main-container #search-container .search-info-container .description {
  color: #687176;
  font-family: Inter;
  font-size: 1.14286rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
body .main-container #search-container .change-search-info-container {
  display: flex;
  height: 7rem;
  padding: 1.42857rem;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.71429rem;
  width: 30%;
}
body .main-container #search-container .change-search-info-container #change-search-info {
  display: flex;
  width: 90%;
  height: 4.58333rem;
  padding: 1.33333rem 1.66667rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 2rem;
  background: #ff7a50;
  text-decoration: none;
}
body .main-container #search-container .change-search-info-container #change-search-info .text {
  color: #fff;
  text-align: center;
  font-size: 1.33333rem;
  font-weight: 700;
}
body .main-container #search-container .change-search-info-container #change-search-info ion-icon {
  font-size: 1.8rem;
  color: #fff;
}
body .main-container #filter-container {
  display: flex;
  flex-direction: row;
}
body .main-container #filter-container .title {
  color: #000;
  text-align: right;
  font-family: Inter;
  font-size: 1.14286rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
body .main-container #filter-container .filter-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
body .main-container #filter-container .filter-items .filter-item {
  margin: 0 1rem;
}
body .main-container #filter-container .filter-items .filter-item .type-of-item-filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: wrap-content;
  padding: 0.71429rem 1.42857rem;
  align-items: center;
  gap: 0.71429rem;
  border-radius: 1.42857rem;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
body .main-container #filter-container .filter-items .filter-item .type-of-item-filter .text {
  color: #236EFF;
  font-family: Inter;
  font-size: 1.14286rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
body .main-container #filter-container .filter-items .filter-item .type-of-item-filter .drop-down-icon {
  color: #236EFF;
}
body .main-container #filter-container .filter-items .filter-item .dropdown-item-filter {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: wrap-content;
  padding: 0.5rem 0 0 0.5rem;
  margin-top: 0.5rem;
  border-radius: 0.57143rem;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
body .main-container #filter-container .filter-items .filter-item .dropdown-item-filter .item-filter {
  display: flex;
  flex-direction: row;
  margin: 0.5rem;
}
body .main-container #filter-container .filter-items .filter-item .dropdown-item-filter .item-filter ion-icon {
  font-size: 1.8rem;
  color: #236EFF;
}
body .main-container #filter-container .filter-items .filter-item .dropdown-item-filter .item-filter .text {
  font-family: Inter;
  font-size: 1.14286rem;
  font-style: normal;
  line-height: normal;
  margin-left: 0.5rem;
}
body .main-container #result-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.71429rem;
}
body .main-container #result-container #result-item-template {
  display: none;
}
body .main-container #result-container .result-item {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 1.42857rem;
  align-items: center;
  gap: 2.28571rem;
  border-radius: 0.57143rem;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
body .main-container #result-container .result-item img {
  width: 10rem;
  height: 5.64286rem;
}
body .main-container #result-container .result-item .col {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: space-between;
}
body .main-container #result-container .result-item .col .text-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
}
body .main-container #result-container .result-item .col .text-info .title {
  color: #000;
  font-family: Inter;
  font-size: 1.71429rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
body .main-container #result-container .result-item .col .text-info .description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
body .main-container #result-container .result-item .col .text-info .description .detail {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  color: #000;
  font-family: Inter;
  font-size: 1.14286rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
body .main-container #result-container .result-item .col .text-info .description .detail .hightlight {
  color: #0264C8;
  font-family: Inter;
  font-size: 1.14286rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
body .main-container #result-container .result-item .col .booking {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 1.71429rem;
}
body .main-container #result-container .result-item .col .booking .price-item {
  display: flex;
  padding: 0.71429rem;
  justify-content: center;
  align-items: center;
}
body .main-container #result-container .result-item .col .booking .price-item .price-text {
  color: #FF5E1F;
  font-family: Inter;
  font-size: 1.71429rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
body .main-container #result-container .result-item .col .booking .price-item .text {
  color: #000;
  font-family: Inter;
  font-size: 1.14286rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 5px;
}
body .main-container #result-container .result-item .col .booking a {
  display: flex;
  width: 21.42857rem;
  padding: 1.14286rem 1.42857rem;
  justify-content: center;
  align-items: center;
  gap: 0.71429rem;
  border-radius: 0.57143rem;
  background: rgba(35, 110, 255, 0.8);
  text-decoration: none;
}
body .main-container #result-container .result-item .col .booking a .text {
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 1.14286rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
body .main-container #btn-showMore {
  border: 0px !important;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
}
body .main-container #btn-showMore .text {
  font-weight: 700;
  color: #236eff;
}
body .title {
  color: #000;
  font-family: Inter;
  font-size: 1.71429rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}/*# sourceMappingURL=transfer-display.css.map */