.btn-dropdown {
  background: rgba(244, 241, 241, 0.5);
  position: relative;

  display: flex;
  align-items: center;

  padding: 1rem 1rem;
  border-radius: 0.66667rem;
  border: 1px solid #fff;

  cursor: pointer;

  .info {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  ion-icon {
    font-size: 2rem;
    color: #fff;
  }
  .text {
    color: #fff;
    text-align: center;
    font-size: 1.33333rem;
    font-weight: 700;

    padding-left: 0.83333rem;
  }
  .dropdown-panel {
    top: 4.5rem;
    left: 0;
    width: 100%;
  }
}
.dropdown-panel {
  background: #fff;

  display: flex;
  flex-direction: column;
  gap: 0.83333rem;

  padding: 0.83333rem 1.33333rem;
  border-radius: 0.66667rem;

  position: absolute;
  z-index: 2;

  .dropdown-panel__item {
    display: flex;
    align-items: center;

    ion-icon {
      color: black;
      font-size: 1rem;
    }
    ion-icon.selected {
      display: none;
    }
    .text {
      color: black;
    }
  }
  .dropdown-panel__item.selected {
    ion-icon.selected {
      display: flex;
    }
    ion-icon.unselected {
      display: none;
    }
  }
}
.dropdown-panel.hide {
  display: none;
}
.dropdown-panel--set-quantity {
  .dropdown-panel__title {
    display: flex;
    padding: 1.33333rem 0rem; // 16px 20px
    justify-content: flex-start;
    align-items: center;
    gap: 0.83333rem;
    .text {
      color: #687176;
      font-size: 1.66666rem;
      font-weight: 500;
    }
  }
  .dropdown-panel__item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .item__icon {
      font-size: 4rem;
      color: #236eff;
    }
    .item__title {
      display: flex;
      flex-direction: column;
      padding-right: 5rem;
      padding-left: -2rem;
      .text {
        color: #000;
        font-size: 1.33333rem;
        font-weight: 500;
        padding: 0;
        text-align: left;
      }
      .comment {
        color: #687176;
        font-size: 1rem;
        font-weight: 500;
        text-align: left;
      }
    }
    .item__set-quantity {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;
      .set-quantity__icon {
        font-size: 3rem;
        color: #236eff;
      }
      .set-quantity__quantity {
        color: #000;
        font-size: 1.33333rem;
        font-weight: 500;
      }
    }
  }
  .dropdown-panel__confirm-btn {
    display: flex;
    width: 100%;
    padding: 1.33333rem 1.66667rem;
    gap: 0.83333rem;
    border-radius: 0.66667rem;
    background: rgba(35, 110, 255, 0.8);

    cursor: pointer;

    justify-content: center;
    .text {
      color: #fff;
      text-align: center;
      font-size: 1.33333rem; // 16px
      font-weight: 700;
    }
  }
}
