body {
  background-color: #e5e5e5;
}

.payment-container {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;

  margin-top: 5rem;

  .title {
    display: flex;
    padding: 0.41667rem;
    gap: 0.41667rem;
    .text {
      color: #000;
      font-family: Inter;
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }
  .info-container {
    background: #FFF;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    padding: 1.25rem;
    border-radius: 0.5rem;
    
    .content-container{
        display: flex;
        flex-direction: row;
        gap: 1.25rem;
    }
}
}
