*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter";
}

html{
    font-size: 12px;
}

body{
    position: relative;
}

.container-fluid{
    width: 100%; // sau này phải đổi lại
}

.container{
    width: 80%; // sau này phải đổi lại
    padding: auto;
    margin: auto;
}

.show{
    //important
    display: flex !important;
}
.hide{
    display: none !important; 
}

.blur-panel{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.8);
    z-index: 10000;
    display: none;

    transition: all 0.2s;
}