body {
  background-color: #e5e5e5;
}

.payment-container {
  display: flex;
  flex-direction: column;

  margin-top: 5rem;
  margin-bottom: 5rem;

  .payment-window {
    background-color: white;
    display: flex;
    flex-direction: column;

    gap: 2rem;
    padding: 1.5rem;
    border-radius: 0.57143rem;

    .title {
      padding: 1.5rem;

      .text {
        color: #236EFF;
      }
    }

    .info-container {
      gap: 1rem;
      padding-left: 3rem;
      padding-right: 3rem;
      padding-bottom: 1.5rem;

      .row-container {
        .content-container {
          width: 50%;
          gap: 1rem;

          .label {
            font-weight: 700;
            font-size: 1.71429rem;
          }

          .text {
            font-weight: 500;
            font-size: 1.5rem;
          }

          #txt-totalPrice {
            color: #FF5E1F;
          }
        }
        .one-row-content-container {
          width: 100%;
        }
      }
    }

    .btn-payment {
      background: #FF5E1F;
      width: 25%;
      height: 10%;

      .text {
        font-size: 1.71429rem;
        color: white;
        font-weight: bold;
      }
    }
  }
}

.border-bottom {
  border-bottom: 2px solid #AAB3B8;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.fs-16 {
  font-size: 1.5rem!important;
}

.d-flex {
  display: flex;
}