.recom-container {
    .title {
        padding-bottom: 2rem;

        .text {
            font-size: 2.666666667rem;
            font-weight: 900;
        }
    }

    .recom-item-list-container {
        margin-bottom: 25rem;

        .recom-item-container {
            width: calc(100% / 4);

            .recom-item {
                box-shadow: inset 0 0 0 1000px rgba(80, 80, 80, 0.5);
                height: 17.14285714rem;
                border-bottom-left-radius: 6px;
                border-bottom-right-radius: 6px;
                border-top-left-radius: 6px;
                border-top-right-radius: 6px;
                background-size: cover;
                display: flex;
                flex-direction: column;

                .content {
                    .label {
                        font-size: 1.904761905rem !important;
                        font-weight: 900;
                        color: white;
                        margin-bottom: 0.5rem;
                    }

                    .text {
                        font-size: 1.523809524rem !important;
                        font-weight: 500;
                        color: white;
                    }
                }

                .recom-btn {
                    align-self: center;
                    margin-top: auto;
                    margin-bottom: 2rem;
                    width: 75%;

                    .text {
                        font-size: 1.523809524rem !important;
                        font-weight: 500;
                        color: white;
                    }
                }
            }

            .recom-item:hover {
                box-shadow: inset 0 0 0 1000px rgba(43, 43, 43, 0.8);
                cursor: pointer;
            }

            #item-danang {
                background-image: url('../images/hotel-recom-danang.jpeg');

            }

            #item-hanoi {
                background-image: url('../images/hotel-recom-hanoi.jpeg');

            }

            #item-hcm {
                background-image: url('../images/hotel-recom-hcm.jpeg');

            }

            #item-vungtau {
                background-image: url('../images/hotel-recom-vungtau.jpeg');

            }
        }


    }
}


@media only screen and (max-width: 900px) {
    .recom-item-list-container {
        flex-wrap: wrap;
        .recom-item-container {
            width: calc(100% / 2) !important;
        }
    }
}