body {
    background-color: #F1F1F1;
}

.admin-accountbar {
    background-color: wheat;
}

.admin-window {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;

    .admin-navbar {
        display: flex;
        height: auto;
        padding: 1rem;
        padding-top: 0;
        flex-direction: column;
        align-items: center;
        gap: 1.71429rem;

        .nav-pill {
            background-color: #236EFF !important;
            display: flex;
            width: 14.14286rem;
            height: 4.21429rem;
            padding: 1.42857rem;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
            align-self: stretch;
            text-decoration: none;

            .text {
                color: white;
                text-align: center;
                font-size: 1rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
        }
    }

    .admin-content-window {
        background-color: white;
        padding: 2.85714rem;
        border-radius: 0.57143rem;


        .pane-text-container {
            display: flex;
            padding: 0.71429rem;
            justify-content: start;
            align-items: center;
            gap: 0.71429rem;
        }

        .pane-text {
            color: #000;
            font-size: 1.71429rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

        .admin-content-pane {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .info-form {
                display: flex;
                flex-direction: row;
                gap: 1rem;

                .info-window {

                    display: flex;
                    flex-direction: column;
                    padding: 1.42857rem;
                    gap: 1rem;

                    .info-content {
                        display: flex;
                        flex-direction: row;


                        #user-info-col-1 {
                            display: flex;
                            flex-direction: column;
                            gap: 1rem;

                            width: 30rem;
                        }

                        #user-info-col-2 {
                            display: flex;
                            flex-direction: column;
                            gap: 1rem;

                            width: 24rem;
                        }

                        #user-info-col-3 {
                            display: flex;
                            flex-direction: column;
                            gap: 1rem;

                            width: 32rem;
                        }

                        #flight-info-col-1 {
                            display: flex;
                            flex-direction: column;
                            gap: 1rem;

                            width: 30rem;
                        }

                        #flight-info-col-2 {
                            display: flex;
                            flex-direction: column;
                            gap: 1rem;

                            width: 30rem;
                        }

                        #car-info-col-1 {
                            display: flex;
                            flex-direction: column;
                            gap: 1rem;

                            width: 30rem;
                        }

                        #car-info-col-2 {
                            display: flex;
                            flex-direction: column;
                            gap: 1rem;

                            width: 30rem;
                        }

                        #bus-info-col-1 {
                            display: flex;
                            flex-direction: column;
                            gap: 1rem;

                            width: 30rem;
                        }

                        #bus-info-col-2 {
                            display: flex;
                            flex-direction: column;
                            gap: 1rem;

                            width: 30rem;
                        }

                        #hotel-info-col-1 {
                            display: flex;
                            flex-direction: column;
                            gap: 1rem;

                            width: 30rem;
                        }

                        #hotel-info-col-2 {
                            display: flex;
                            flex-direction: column;
                            gap: 1rem;

                            width: 30rem;
                        }

                        #flightbill-info-col-1 {
                            display: flex;
                            flex-direction: column;
                            gap: 1rem;

                            width: 27rem;
                        }

                        #flightbill-info-col-2 {
                            display: flex;
                            flex-direction: column;
                            gap: 1rem;

                            width: 28rem;
                        }

                        #flightbill-info-col-3 {
                            display: flex;
                            flex-direction: column;
                            gap: 1rem;

                            width: 24rem;
                        }

                        #carbill-info-col-1 {
                            display: flex;
                            flex-direction: column;
                            gap: 1rem;

                            width: 27rem;
                        }

                        #carbill-info-col-2 {
                            display: flex;
                            flex-direction: column;
                            gap: 1rem;

                            width: 28rem;
                        }

                        #carbill-info-col-3 {
                            display: flex;
                            flex-direction: column;
                            gap: 1rem;

                            width: 30rem;
                        }

                        #hotelbill-info-col-1 {
                            display: flex;
                            flex-direction: column;
                            gap: 1rem;

                            width: 27rem;
                        }

                        #hotelbill-info-col-2 {
                            display: flex;
                            flex-direction: column;
                            gap: 1rem;

                            width: 30rem;
                        }

                        #hotelbill-info-col-3 {
                            display: flex;
                            flex-direction: column;
                            gap: 1rem;

                            width: 30rem;
                        }

                        
                        #busbill-info-col-1 {
                            display: flex;
                            flex-direction: column;
                            gap: 1rem;

                            width: 27rem;
                        }

                        #busbill-info-col-2 {
                            display: flex;
                            flex-direction: column;
                            gap: 1rem;

                            width: 30rem;
                        }

                        #busbill-info-col-3 {
                            display: flex;
                            flex-direction: column;
                            gap: 1rem;

                            width: 30rem;
                        }
                    }

                }

                .flightbill-btn-container,
                .carbill-btn-container,
                .hotelbill-btn-container,
                .busbill-btn-container {
                    justify-content: flex-end !important;

                }

                .btn-container {
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    width: auto;

                    #user-btn-save,
                    #flight-btn-save,
                    #car-btn-save,
                    #bus-btn-save,
                    #hotel-btn-save,
                    #flightbill-btn-save,
                    #carbill-btn-save,
                    #hotelbill-btn-save,
                    #busbill-btn-save {
                        background-color: green;

                        .text {
                            color: white;
                            font-weight: bold;
                        }
                    }

                    #user-btn-clear,
                    #flight-btn-clear,
                    #car-btn-clear,
                    #bus-btn-clear,
                    #hotel-btn-clear {
                        background-color: red;

                        .text {
                            color: white;
                            font-weight: bold;
                        }
                    }

                    #flightbill-btn-save,
                    #carbill-btn-save,
                    #hotelbill-btn-save,
                    #busbill-btn-save {
                        width: auto;
                    }

                }

            }

            .admin-table,
            th,
            td {

                border: 1px solid #AAB3B8;
                border-collapse: collapse;
                color: #000;
                font-size: 1.33333rem;
            }

            .admin-table {
                width: 120rem;

                th {
                    text-align: center;
                }

                td {
                    padding: 1rem;
                }

                .table-btn-group {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;

                    .table-btn {
                        width: 5rem;
                    }

                    #table-btn-modify {
                        background-color: rgb(116, 116, 116);

                        .text {
                            color: white;
                            font-weight: bold;
                        }
                    }

                    #table-btn-delete {
                        background-color: red;

                        .text {
                            color: white;
                            font-weight: bold;
                        }
                    }
                }
            }

            .input-block {
                flex-direction: row;
                gap: 1rem;

                .title {
                    flex: 1;
                    white-space: nowrap;
                }

                .text {
                    color: #000;
                }

                .input {
                    flex: 1;
                    width: 15rem !important;
                    height: 2.14286rem !important;
                    border-radius: 0.57143rem;
                    border: 1.5px solid #AAB3B8;
                    background-color: #FFF;
                }

                select {
                    padding-top: 0;
                    padding-bottom: 0;
                    height: 2.14286rem !important;
                }

            }

        }


    }
}

.dataTables_wrapper {
    label {
        font-size: 1.33333rem !important;
    }

    .dataTables_info {
        font-size: 1.33333rem !important;
    }

    .paginate_button {
        font-size: 1.33333rem !important;
    }
}