body {
  background-color: #F1F1F1;
}

.admin-accountbar {
  background-color: wheat;
}

.admin-window {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
}
.admin-window .admin-navbar {
  display: flex;
  height: auto;
  padding: 1rem;
  padding-top: 0;
  flex-direction: column;
  align-items: center;
  gap: 1.71429rem;
}
.admin-window .admin-navbar .nav-pill {
  background-color: #236EFF !important;
  display: flex;
  width: 14.14286rem;
  height: 4.21429rem;
  padding: 1.42857rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  align-self: stretch;
}
.admin-window .admin-navbar .nav-pill .text {
  color: white;
  text-align: center;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.admin-window .admin-content-window {
  background-color: white;
  padding: 2.85714rem;
  border-radius: 0.57143rem;
}
.admin-window .admin-content-window .pane-text-container {
  display: flex;
  padding: 0.71429rem;
  justify-content: start;
  align-items: center;
  gap: 0.71429rem;
}
.admin-window .admin-content-window .pane-text {
  color: #000;
  font-size: 1.71429rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.admin-window .admin-content-window .admin-content-pane {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.admin-window .admin-content-window .admin-content-pane .info-form {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.admin-window .admin-content-window .admin-content-pane .info-form .info-window {
  display: flex;
  flex-direction: column;
  padding: 1.42857rem;
  gap: 1rem;
}
.admin-window .admin-content-window .admin-content-pane .info-form .info-window .info-content {
  display: flex;
  flex-direction: row;
}
.admin-window .admin-content-window .admin-content-pane .info-form .info-window .info-content #user-info-col-1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 30rem;
}
.admin-window .admin-content-window .admin-content-pane .info-form .info-window .info-content #user-info-col-2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 24rem;
}
.admin-window .admin-content-window .admin-content-pane .info-form .info-window .info-content #user-info-col-3 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 32rem;
}
.admin-window .admin-content-window .admin-content-pane .info-form .info-window .info-content #flight-info-col-1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 30rem;
}
.admin-window .admin-content-window .admin-content-pane .info-form .info-window .info-content #flight-info-col-2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 30rem;
}
.admin-window .admin-content-window .admin-content-pane .info-form .info-window .info-content #car-info-col-1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 30rem;
}
.admin-window .admin-content-window .admin-content-pane .info-form .info-window .info-content #car-info-col-2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 30rem;
}
.admin-window .admin-content-window .admin-content-pane .info-form .info-window .info-content #bus-info-col-1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 30rem;
}
.admin-window .admin-content-window .admin-content-pane .info-form .info-window .info-content #bus-info-col-2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 30rem;
}
.admin-window .admin-content-window .admin-content-pane .info-form .info-window .info-content #hotel-info-col-1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 30rem;
}
.admin-window .admin-content-window .admin-content-pane .info-form .info-window .info-content #hotel-info-col-2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 30rem;
}
.admin-window .admin-content-window .admin-content-pane .info-form .info-window .info-content #flightbill-info-col-1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 27rem;
}
.admin-window .admin-content-window .admin-content-pane .info-form .info-window .info-content #flightbill-info-col-2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 28rem;
}
.admin-window .admin-content-window .admin-content-pane .info-form .info-window .info-content #flightbill-info-col-3 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 24rem;
}
.admin-window .admin-content-window .admin-content-pane .info-form .info-window .info-content #carbill-info-col-1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 27rem;
}
.admin-window .admin-content-window .admin-content-pane .info-form .info-window .info-content #carbill-info-col-2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 28rem;
}
.admin-window .admin-content-window .admin-content-pane .info-form .info-window .info-content #carbill-info-col-3 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 30rem;
}
.admin-window .admin-content-window .admin-content-pane .info-form .info-window .info-content #hotelbill-info-col-1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 27rem;
}
.admin-window .admin-content-window .admin-content-pane .info-form .info-window .info-content #hotelbill-info-col-2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 30rem;
}
.admin-window .admin-content-window .admin-content-pane .info-form .info-window .info-content #hotelbill-info-col-3 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 30rem;
}
.admin-window .admin-content-window .admin-content-pane .info-form .info-window .info-content #busbill-info-col-1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 27rem;
}
.admin-window .admin-content-window .admin-content-pane .info-form .info-window .info-content #busbill-info-col-2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 30rem;
}
.admin-window .admin-content-window .admin-content-pane .info-form .info-window .info-content #busbill-info-col-3 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 30rem;
}
.admin-window .admin-content-window .admin-content-pane .info-form .flightbill-btn-container,
.admin-window .admin-content-window .admin-content-pane .info-form .carbill-btn-container,
.admin-window .admin-content-window .admin-content-pane .info-form .hotelbill-btn-container,
.admin-window .admin-content-window .admin-content-pane .info-form .busbill-btn-container {
  justify-content: flex-end !important;
}
.admin-window .admin-content-window .admin-content-pane .info-form .btn-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: auto;
}
.admin-window .admin-content-window .admin-content-pane .info-form .btn-container #user-btn-save,
.admin-window .admin-content-window .admin-content-pane .info-form .btn-container #flight-btn-save,
.admin-window .admin-content-window .admin-content-pane .info-form .btn-container #car-btn-save,
.admin-window .admin-content-window .admin-content-pane .info-form .btn-container #bus-btn-save,
.admin-window .admin-content-window .admin-content-pane .info-form .btn-container #hotel-btn-save,
.admin-window .admin-content-window .admin-content-pane .info-form .btn-container #flightbill-btn-save,
.admin-window .admin-content-window .admin-content-pane .info-form .btn-container #carbill-btn-save,
.admin-window .admin-content-window .admin-content-pane .info-form .btn-container #hotelbill-btn-save,
.admin-window .admin-content-window .admin-content-pane .info-form .btn-container #busbill-btn-save {
  background-color: green;
}
.admin-window .admin-content-window .admin-content-pane .info-form .btn-container #user-btn-save .text,
.admin-window .admin-content-window .admin-content-pane .info-form .btn-container #flight-btn-save .text,
.admin-window .admin-content-window .admin-content-pane .info-form .btn-container #car-btn-save .text,
.admin-window .admin-content-window .admin-content-pane .info-form .btn-container #bus-btn-save .text,
.admin-window .admin-content-window .admin-content-pane .info-form .btn-container #hotel-btn-save .text,
.admin-window .admin-content-window .admin-content-pane .info-form .btn-container #flightbill-btn-save .text,
.admin-window .admin-content-window .admin-content-pane .info-form .btn-container #carbill-btn-save .text,
.admin-window .admin-content-window .admin-content-pane .info-form .btn-container #hotelbill-btn-save .text,
.admin-window .admin-content-window .admin-content-pane .info-form .btn-container #busbill-btn-save .text {
  color: white;
  font-weight: bold;
}
.admin-window .admin-content-window .admin-content-pane .info-form .btn-container #user-btn-clear,
.admin-window .admin-content-window .admin-content-pane .info-form .btn-container #flight-btn-clear,
.admin-window .admin-content-window .admin-content-pane .info-form .btn-container #car-btn-clear,
.admin-window .admin-content-window .admin-content-pane .info-form .btn-container #bus-btn-clear,
.admin-window .admin-content-window .admin-content-pane .info-form .btn-container #hotel-btn-clear {
  background-color: red;
}
.admin-window .admin-content-window .admin-content-pane .info-form .btn-container #user-btn-clear .text,
.admin-window .admin-content-window .admin-content-pane .info-form .btn-container #flight-btn-clear .text,
.admin-window .admin-content-window .admin-content-pane .info-form .btn-container #car-btn-clear .text,
.admin-window .admin-content-window .admin-content-pane .info-form .btn-container #bus-btn-clear .text,
.admin-window .admin-content-window .admin-content-pane .info-form .btn-container #hotel-btn-clear .text {
  color: white;
  font-weight: bold;
}
.admin-window .admin-content-window .admin-content-pane .info-form .btn-container #flightbill-btn-save,
.admin-window .admin-content-window .admin-content-pane .info-form .btn-container #carbill-btn-save,
.admin-window .admin-content-window .admin-content-pane .info-form .btn-container #hotelbill-btn-save,
.admin-window .admin-content-window .admin-content-pane .info-form .btn-container #busbill-btn-save {
  width: auto;
}
.admin-window .admin-content-window .admin-content-pane .admin-table,
.admin-window .admin-content-window .admin-content-pane th,
.admin-window .admin-content-window .admin-content-pane td {
  border: 1px solid #AAB3B8;
  border-collapse: collapse;
  color: #000;
  font-size: 1.33333rem;
}
.admin-window .admin-content-window .admin-content-pane .admin-table {
  width: 120rem;
}
.admin-window .admin-content-window .admin-content-pane .admin-table th {
  text-align: center;
}
.admin-window .admin-content-window .admin-content-pane .admin-table td {
  padding: 1rem;
}
.admin-window .admin-content-window .admin-content-pane .admin-table .table-btn-group {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.admin-window .admin-content-window .admin-content-pane .admin-table .table-btn-group .table-btn {
  width: 5rem;
}
.admin-window .admin-content-window .admin-content-pane .admin-table .table-btn-group #table-btn-modify {
  background-color: rgb(116, 116, 116);
}
.admin-window .admin-content-window .admin-content-pane .admin-table .table-btn-group #table-btn-modify .text {
  color: white;
  font-weight: bold;
}
.admin-window .admin-content-window .admin-content-pane .admin-table .table-btn-group #table-btn-delete {
  background-color: red;
}
.admin-window .admin-content-window .admin-content-pane .admin-table .table-btn-group #table-btn-delete .text {
  color: white;
  font-weight: bold;
}
.admin-window .admin-content-window .admin-content-pane .input-block {
  flex-direction: row;
  gap: 1rem;
}
.admin-window .admin-content-window .admin-content-pane .input-block .title {
  flex: 1;
  white-space: nowrap;
}
.admin-window .admin-content-window .admin-content-pane .input-block .text {
  color: #000;
}
.admin-window .admin-content-window .admin-content-pane .input-block .input {
  flex: 1;
  width: 15rem !important;
  height: 2.14286rem !important;
  border-radius: 0.57143rem;
  border: 1.5px solid #AAB3B8;
  background-color: #FFF;
}
.admin-window .admin-content-window .admin-content-pane .input-block select {
  padding-top: 0;
  padding-bottom: 0;
  height: 2.14286rem !important;
}

.dataTables_wrapper label {
  font-size: 1.33333rem !important;
}
.dataTables_wrapper .dataTables_info {
  font-size: 1.33333rem !important;
}
.dataTables_wrapper .paginate_button {
  font-size: 1.33333rem !important;
}/*# sourceMappingURL=admin.css.map */