<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href=' http://fonts.googleapis.com/css?family=Inter' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="./carousel.css">
    <script src="./carousel.js" defer></script>
</head>

<body>
    <div class="container-fluid carousel-container">
        <div class="carousel__content d-flex align-center justify-center">
                <img class="content-item content-item-1" data-index="1"
                    src="../../resources/images/img-ad-1.jpeg">
                <img class="content-item content-item-2" data-index="2"
                    src="../../resources/images/img-ad-1.jpeg">
                <img class="content-item content-item-3" data-index="3"
                    src="../../resources/images/img-ad-1.jpeg">
                <img class="content-item content-item-4" data-index="4"
                    src="../../resources/images/img-ad-1.jpeg">
                <img class="content-item content-item-5" data-index="5"
                    src="../../resources/images/img-ad-1.jpeg">
        </div>
        <div class="carousel__nav">
            <div class="nav__btn" id="btn-left">
                <ion-icon name="arrow-back-circle-outline"></ion-icon>
            </div>
            <div class="text">Xem thêm khuyến mãi</div>
            <div class="nav__btn" id="btn-right">
                <ion-icon name="arrow-forward-circle-outline"></ion-icon>
            </div>
        </div>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>