#feature__flight-search {
    margin-bottom: 15rem;
}

.partner-container {

    h1 {
        font-size: 2.3rem;
        padding-left: 0;
        padding-right: 0;
        font-weight: 900;
    }

    .text {
        font-size: 1.5rem;
        font-weight: 500;
    }
}