* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter";
}
html {
  font-size: 12px;
}
body {
  position: relative;
}

.container-fluid {
  width: 100%;
}
.container {
  width: 80%;
  padding: auto;
  margin: auto;
}

.header-space {
  height: 9rem;
  background-color: aqua;
}

.btn-default {
  display: flex;
  width: 12.5rem;
  height: 3.25rem;
  padding: 1.33333rem 1rem;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  border-radius: 0.66667rem;
  border: 1px solid #fff;

  .text {
    font-size: 1.33333rem;
    font-weight: 500;
  }
}
.btn-default:hover {
  opacity: 0.8;
}
.btn-default:active {
  opacity: 0.6;
}

.header-container {
  background-color: #fff;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;

  padding-top: 0.5rem;

  transition: 0.3s;

  box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.25);

  .header__top-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      text-decoration: none;
    }
    a:visited {
      text-decoration: none;
    }
    .top-content__brand-container {
      display: flex;

      .brand-container__brand-logo {
        width: 8rem;
        background: rgba(165, 165, 165, 0);

        display: flex;
        flex-direction: column;
        gap: 0.83333rem;

        img {
          width: 100%;
          height: auto;
        }
      }

      .brand-container__brand-name {
        width: 12.5rem;
        height: 3rem;

        display: flex;
        align-items: center;

        padding: 0.83333rem;

        .text {
          color: #000;
          font-size: 2.66667rem;
          font-style: italic;
          font-weight: 700;
        }
      }
    }

    .top-content__account-btn-group {
      display: flex;
      align-items: flex-start;
      gap: 1.66667rem;

      .account-btn-group__login-btn {
        border-radius: 0.66667rem;
        border: 1px solid #236eff;
        gap: 1rem;

        .text {
          color: rgba(35, 110, 255, 0.8);
          font-weight: 700;
        }

        .login-btn__icon {
          font-size: 2rem;
          color: rgba(35, 110, 255, 0.8);
        }
      }

      .account-btn-group__sign-up-btn {
        border-radius: 0.66667rem;
        background: rgba(35, 110, 255, 0.8);

        .text {
          color: #fff;
          font-weight: 700;
        }
      }

      .account-btn-group__account-btn {
        .account-btn__icon {
          font-size: 2rem;
          color: rgba(35, 110, 255, 0.8);
        }

        .text {
          font-weight: 700;
        }
      }
    }
  }

  .header__navbar {
    display: flex;
    align-items: center;
    gap: 1rem;

    padding-bottom: 0.5rem;

    a {
      text-decoration: none;
    }
    a:visited {
      text-decoration: none;
    }
    .navbar__item {
      width: 14rem;
      height: 4.33333rem;

      display: flex;
      justify-content: center;
      align-items: center;

      padding: 1.33333rem 1.66667rem;
      border-radius: 0.66667rem;

      cursor: pointer;

      .text {
        color: #687176;
        text-align: center;
        font-size: 1.33333rem;
        font-weight: 700;
      }
    }
    .navbar__item:hover {
      background-color: #f2f3f3;
    }
    .navbar__item:active {
      background-color: #e4e6e6;
    }
  }
}

@media only screen and (max-width: 900px) {
  .header-container {
    .header__top-content {
      .top-content__brand-container {
        .brand-container__brand-name {
          display: none;
        }
      
      }
      .top-content__account-btn-group {

        .account-btn-group__sign-up-btn {
          display: none;
        }

      }
    }
  }
}