body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-base: 16px;
  --font-size-sm: 14px;
  --font-size-xs: 12px;

  /* Colors */
  --color-white: #fff;
  --color-royalblue-100: rgba(35, 110, 255, 0.8);
  --color-dimgray: #687176;
  --color-black: #000;
  --color-orangered: #ff5e1f;
  --color-yellowgreen: #c9ea3d;

  /* Gaps */
  --gap-5xl: 24px;
  --gap-xl: 20px;
  --gap-lg: 18px;
  --gap-3xs: 10px;

  /* Paddings */
  --padding-3xs: 10px;
  --padding-base: 16px;
  --padding-xl: 20px;
  --padding-8xs: 5px;
  --padding-mini: 15px;

  /* Border radiuses */
  --br-5xs: 8px;
}
