.flight-book-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.flight-book-flight-book {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.flight-book-flight-book-container {
  gap: 24px;
  display: flex;
  align-items: flex-start;
}
.flight-book-sorting {
  gap: 20px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.flight-book-flight-sort-sorting-list {
  display: flex;
  align-items: flex-start;
  border-radius: 8px;
  flex-direction: column;
}
.flight-book-frame98 {
  gap: 128px;
  width: 368px;
  height: 74px;
  display: flex;
  padding: 16px 20px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 1);
}
.flight-book-text {
  color: rgba(0, 0, 0, 1);
  width: 104px;
  height: auto;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.flight-book-text001 {
  font-weight: 700;
}
.flight-book-slider-arrow {
  width: 42px;
  height: 42px;
}
.flight-book-sorting-text {
  gap: 191px;
  width: 368px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.flight-book-frame76 {
  gap: 10px;
  height: 52px;
  display: flex;
  padding: 16px 15px;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.flight-book-text009 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.flight-book-text-button {
  gap: 10px;
  height: 52px;
  display: flex;
  padding: 16px 15px;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.flight-book-text011 {
  color: rgba(35, 110, 255, 0.800000011920929);
  height: auto;
  font-size: 16px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.flight-book-flight-advance-sorting-list {
  gap: 10px;
  display: flex;
  padding: 16px 0;
  align-items: flex-start;
  flex-direction: column;
}
.flight-book-ight-advance-sorting-flight-style {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.flight-book-frame93 {
  gap: 10px;
  width: 368px;
  display: flex;
  padding: 10px 20px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(104, 113, 118, 1);
  border-style: solid;
  border-width: 0 0 1px;
  justify-content: space-between;
}
.flight-book-text013 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.flight-book-slider-arrow1 {
  width: 20px;
  height: 20px;
}
.flight-book-ight-advance-sorting-brand {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.flight-book-frame95 {
  gap: 10px;
  width: 368px;
  display: flex;
  padding: 10px 20px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(104, 113, 118, 1);
  border-style: solid;
  border-width: 0 0 1px;
  justify-content: space-between;
}
.flight-book-text015 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.flight-book-slider-arrow2 {
  width: 20px;
  height: 20px;
}
.flight-book-flight-advance-sorting-flight-time {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.flight-book-frame97 {
  gap: 10px;
  width: 368px;
  display: flex;
  padding: 10px 20px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(104, 113, 118, 1);
  border-style: solid;
  border-width: 0 0 1px;
  justify-content: space-between;
}
.flight-book-text017 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.flight-book-slider-arrow3 {
  width: 20px;
  height: 20px;
}
.flight-book-ight-advance-sorting-goods {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.flight-book-frame94 {
  gap: 10px;
  width: 368px;
  display: flex;
  padding: 10px 20px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(104, 113, 118, 1);
  border-style: solid;
  border-width: 0 0 1px;
  justify-content: space-between;
}
.flight-book-text019 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.flight-book-slider-arrow4 {
  width: 20px;
  height: 20px;
}
.flight-book-flight-advance-sorting-price {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.flight-book-frame951 {
  gap: 10px;
  width: 368px;
  display: flex;
  padding: 10px 20px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(104, 113, 118, 1);
  border-style: solid;
  border-width: 0 0 1px;
  justify-content: space-between;
}
.flight-book-text021 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.flight-book-slider-arrow5 {
  width: 20px;
  height: 20px;
}
.flight-book-ight-advance-sorting-prefers {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.flight-book-frame952 {
  gap: 10px;
  width: 368px;
  display: flex;
  padding: 10px 20px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(104, 113, 118, 1);
  border-style: solid;
  border-width: 0 0 1px;
  justify-content: space-between;
}
.flight-book-text023 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.flight-book-slider-arrow6 {
  width: 20px;
  height: 20px;
}
.flight-book-ight-advance-sorting-stops {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.flight-book-frame96 {
  gap: 10px;
  width: 368px;
  display: flex;
  padding: 10px 20px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(104, 113, 118, 1);
  border-style: solid;
  border-width: 0 0 1px;
  justify-content: space-between;
}
.flight-book-text025 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.flight-book-slider-arrow7 {
  width: 20px;
  height: 20px;
}
.flight-book-flight-advance-sorting-stop-time {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.flight-book-frame941 {
  gap: 10px;
  width: 368px;
  display: flex;
  padding: 10px 20px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(104, 113, 118, 1);
  border-style: solid;
  border-width: 0 0 1px;
  justify-content: space-between;
}
.flight-book-text027 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.flight-book-slider-arrow8 {
  width: 20px;
  height: 20px;
}
.flight-book-flight-book1 {
  gap: 40px;
  width: 760px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.flight-book-flight-book-search-bar {
  gap: 20px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.flight-book-frame21 {
  width: 642px;
  display: flex;
  padding: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 1);
}
.flight-book-frame20 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.flight-book-search-bar-destiantion {
  display: flex;
  align-items: center;
}
.flight-book-search-bar-des1 {
  gap: 10px;
  display: flex;
  padding: 5px 20px;
  align-items: center;
  justify-content: center;
}
.flight-book-text029 {
  color: rgba(0, 0, 0, 1);
  width: 120px;
  height: auto;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.flight-book-vector6 {
  width: 40px;
  height: 8px;
}
.flight-book-search-bar-des2 {
  gap: 10px;
  display: flex;
  padding: 5px 20px;
  align-items: center;
  justify-content: center;
}
.flight-book-text031 {
  color: rgba(0, 0, 0, 1);
  width: 120px;
  height: auto;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.flight-book-frame19 {
  display: flex;
  align-items: flex-start;
}
.flight-book-frame16 {
  gap: 10px;
  display: flex;
  padding: 5px 10px 5px 20px;
  align-items: center;
  border-color: rgba(104, 113, 118, 1);
  border-style: solid;
  border-width: 0 1px 0 0;
  justify-content: center;
}
.flight-book-text033 {
  color: rgba(104, 113, 118, 1);
  height: auto;
  font-size: 14px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.flight-book-frame17 {
  gap: 10px;
  display: flex;
  padding: 5px 10px;
  align-items: center;
  border-color: rgba(104, 113, 118, 1);
  border-style: solid;
  border-width: 0 1px 0 0;
  justify-content: center;
}
.flight-book-text035 {
  color: rgba(104, 113, 118, 1);
  height: auto;
  font-size: 14px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.flight-book-frame18 {
  gap: 10px;
  display: flex;
  padding: 5px 10px;
  align-items: center;
  justify-content: center;
}
.flight-book-text037 {
  color: rgba(104, 113, 118, 1);
  height: auto;
  font-size: 14px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.flight-book-feature-frame-sub-item {
  gap: 10px;
  width: 168px;
  height: 55px;
  display: flex;
  padding: 16px 20px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-radius: 24px;
  justify-content: flex-end;
  background-color: rgba(255, 121, 79, 1);
}
.flight-book-vector {
  top: 18px;
  left: 21px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.flight-book-text039 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  z-index: 1;
  flex-grow: 1;
  font-size: 16px;
  font-style: Bold;
  text-align: right;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.flight-book-flight-book-price-bar {
  width: 760px;
  display: flex;
  padding: 10px 25px;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  flex-direction: column;
  background-color: rgba(44, 98, 204, 1);
}
.flight-book-frame37 {
  gap: 30px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
}
.flight-book-frame36 {
  gap: 10px;
  display: flex;
  padding: 5px 20px;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(85, 141, 249, 1);
}
.flight-book-text041 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.flight-book-frame35 {
  gap: 10px;
  display: flex;
  padding: 5px 20px;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
}
.flight-book-text046 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.flight-book-text047 {
  color: rgba(255, 255, 255, 1);
}
.flight-book-price-bar-item {
  gap: 10px;
  display: flex;
  padding: 5px 20px;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
}
.flight-book-text052 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.flight-book-text053 {
  color: rgba(255, 255, 255, 1);
}
.flight-book-frame28 {
  gap: 10px;
  display: flex;
  padding: 5px 20px;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
}
.flight-book-text058 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.flight-book-text059 {
  color: rgba(255, 255, 255, 1);
}
.flight-book-frame29 {
  gap: 10px;
  display: flex;
  padding: 5px 20px;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
}
.flight-book-text064 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.flight-book-text065 {
  color: rgba(255, 255, 255, 1);
}
.flight-book-frame30 {
  gap: 10px;
  display: flex;
  padding: 5px 20px;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
}
.flight-book-text070 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.flight-book-text071 {
  color: rgba(255, 255, 255, 1);
}
.flight-book-frame31 {
  gap: 10px;
  display: flex;
  padding: 5px 20px;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
}
.flight-book-text076 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.flight-book-text077 {
  color: rgba(255, 255, 255, 1);
}
.flight-book-frame32 {
  gap: 10px;
  display: flex;
  padding: 5px 20px;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
}
.flight-book-text082 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.flight-book-text083 {
  color: rgba(255, 255, 255, 1);
}
.flight-book-frame33 {
  gap: 10px;
  display: flex;
  padding: 5px 20px;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
}
.flight-book-text088 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.flight-book-text089 {
  color: rgba(255, 255, 255, 1);
}
.flight-book-frame34 {
  gap: 10px;
  display: flex;
  padding: 5px 20px;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
}
.flight-book-text094 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.flight-book-text095 {
  color: rgba(255, 255, 255, 1);
}
.flight-book-vector1 {
  top: 52px;
  left: 756px;
  width: 18px;
  height: 38px;
  z-index: 1;
  position: absolute;
}
.flight-book-flight-book-flight-list {
  gap: 20px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.flight-book-flight-list-item {
  gap: 18px;
  width: 760px;
  display: flex;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.flight-book-frame48 {
  gap: 3px;
  display: flex;
  padding: 10px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.flight-book-frame40 {
  gap: 10px;
  width: 328px;
  display: flex;
  padding: 16px 20px;
  align-items: center;
  flex-shrink: 0;
}
.flight-book-vector2 {
  width: 32px;
  height: 30px;
}
.flight-book-text100 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.flight-book-frame46 {
  display: flex;
  align-items: center;
}
.flight-book-frame41 {
  gap: 10px;
  display: flex;
  padding: 0 5px;
  align-items: center;
  justify-content: center;
}
.flight-book-text102 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.flight-book-text103 {
  color: rgba(0, 0, 0, 1);
}
.flight-book-flight-list-item01 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.flight-book-frame42 {
  gap: 10px;
  width: 40px;
  height: 18px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.flight-book-text108 {
  color: rgba(104, 113, 118, 1);
  height: auto;
  font-size: 12px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.flight-book-flight-list-item02 {
  width: 40px;
  height: 10px;
}
.flight-book-frame43 {
  gap: 10px;
  height: 18px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.flight-book-text110 {
  color: rgba(104, 113, 118, 1);
  height: auto;
  font-size: 12px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.flight-book-frame45 {
  gap: 10px;
  width: 56px;
  display: flex;
  padding: 0 5px;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.flight-book-text112 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.flight-book-text113 {
  color: rgba(0, 0, 0, 1);
}
.flight-book-frame47 {
  gap: 10px;
  display: flex;
  padding: 16px 20px;
  align-items: center;
  justify-content: center;
}
.flight-book-text118 {
  color: rgba(255, 94, 31, 1);
  height: auto;
  font-size: 16px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.flight-book-text119 {
  color: rgba(255, 94, 31, 1);
  font-weight: 700;
}
.flight-book-frame50 {
  gap: 2px;
  display: flex;
  padding: 10px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.flight-book-frame49 {
  gap: 24px;
  display: flex;
  align-items: flex-start;
}
.flight-book-navigation-item {
  gap: 10px;
  width: 172px;
  display: flex;
  padding: 16px 20px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
}
.flight-book-text121 {
  color: rgba(104, 113, 118, 1);
  height: auto;
  flex-grow: 1;
  font-size: 16px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.flight-book-navigation-item01 {
  gap: 10px;
  width: 172px;
  display: flex;
  padding: 16px 20px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
}
.flight-book-text123 {
  color: rgba(104, 113, 118, 1);
  height: auto;
  flex-grow: 1;
  font-size: 16px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.flight-book-navigation-item02 {
  gap: 10px;
  width: 172px;
  display: flex;
  padding: 16px 20px;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  background-color: rgba(35, 110, 255, 0.800000011920929);
}
.flight-book-text125 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  flex-grow: 1;
  font-size: 16px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.flight-book-flight-list-item03 {
  gap: 18px;
  width: 760px;
  display: flex;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.flight-book-frame481 {
  gap: 3px;
  display: flex;
  padding: 10px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.flight-book-frame401 {
  gap: 10px;
  width: 328px;
  display: flex;
  padding: 16px 20px;
  align-items: center;
  flex-shrink: 0;
}
.flight-book-vector3 {
  width: 32px;
  height: 30px;
}
.flight-book-text127 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.flight-book-frame461 {
  display: flex;
  align-items: center;
}
.flight-book-frame411 {
  gap: 10px;
  display: flex;
  padding: 0 5px;
  align-items: center;
  justify-content: center;
}
.flight-book-text129 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.flight-book-text130 {
  color: rgba(0, 0, 0, 1);
}
.flight-book-flight-list-item04 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.flight-book-frame421 {
  gap: 10px;
  width: 40px;
  height: 18px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.flight-book-text135 {
  color: rgba(104, 113, 118, 1);
  height: auto;
  font-size: 12px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.flight-book-flight-list-item05 {
  width: 70px;
  height: 10px;
}
.flight-book-frame431 {
  gap: 10px;
  height: 18px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.flight-book-text137 {
  color: rgba(104, 113, 118, 1);
  height: auto;
  font-size: 12px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.flight-book-frame451 {
  gap: 10px;
  width: 56px;
  display: flex;
  padding: 0 5px;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.flight-book-text139 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.flight-book-text140 {
  color: rgba(0, 0, 0, 1);
}
.flight-book-frame471 {
  gap: 10px;
  display: flex;
  padding: 16px 20px;
  align-items: center;
  justify-content: center;
}
.flight-book-text145 {
  color: rgba(255, 94, 31, 1);
  height: auto;
  font-size: 16px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.flight-book-text146 {
  color: rgba(255, 94, 31, 1);
  font-weight: 700;
}
.flight-book-frame501 {
  gap: 2px;
  display: flex;
  padding: 10px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.flight-book-frame491 {
  gap: 24px;
  display: flex;
  align-items: flex-start;
}
.flight-book-navigation-item03 {
  gap: 10px;
  width: 172px;
  display: flex;
  padding: 16px 20px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
}
.flight-book-text148 {
  color: rgba(104, 113, 118, 1);
  height: auto;
  flex-grow: 1;
  font-size: 16px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.flight-book-navigation-item04 {
  gap: 10px;
  width: 172px;
  display: flex;
  padding: 16px 20px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
}
.flight-book-text150 {
  color: rgba(104, 113, 118, 1);
  height: auto;
  flex-grow: 1;
  font-size: 16px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.flight-book-navigation-item05 {
  gap: 10px;
  width: 172px;
  display: flex;
  padding: 16px 20px;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  background-color: rgba(35, 110, 255, 0.800000011920929);
}
.flight-book-text152 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  flex-grow: 1;
  font-size: 16px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.flight-book-flight-list-item06 {
  gap: 18px;
  width: 760px;
  display: flex;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.flight-book-frame482 {
  gap: 3px;
  display: flex;
  padding: 10px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.flight-book-frame402 {
  gap: 10px;
  width: 328px;
  display: flex;
  padding: 16px 20px;
  align-items: center;
  flex-shrink: 0;
}
.flight-book-vector4 {
  width: 32px;
  height: 30px;
}
.flight-book-text154 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.flight-book-frame462 {
  display: flex;
  align-items: center;
}
.flight-book-frame412 {
  gap: 10px;
  display: flex;
  padding: 0 5px;
  align-items: center;
  justify-content: center;
}
.flight-book-text156 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.flight-book-text157 {
  color: rgba(0, 0, 0, 1);
}
.flight-book-flight-list-item07 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.flight-book-frame422 {
  gap: 10px;
  width: 40px;
  height: 18px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.flight-book-text162 {
  color: rgba(104, 113, 118, 1);
  height: auto;
  font-size: 12px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.flight-book-flight-list-item08 {
  width: 100px;
  height: 10px;
}
.flight-book-frame432 {
  gap: 10px;
  height: 18px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.flight-book-text164 {
  color: rgba(104, 113, 118, 1);
  height: auto;
  font-size: 12px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.flight-book-frame452 {
  gap: 10px;
  width: 56px;
  display: flex;
  padding: 0 5px;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.flight-book-text166 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.flight-book-text167 {
  color: rgba(0, 0, 0, 1);
}
.flight-book-frame472 {
  gap: 10px;
  display: flex;
  padding: 16px 20px;
  align-items: center;
  justify-content: center;
}
.flight-book-text172 {
  color: rgba(255, 94, 31, 1);
  height: auto;
  font-size: 16px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.flight-book-text173 {
  color: rgba(255, 94, 31, 1);
  font-weight: 700;
}
.flight-book-frame502 {
  gap: 2px;
  display: flex;
  padding: 10px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.flight-book-frame492 {
  gap: 24px;
  display: flex;
  align-items: flex-start;
}
.flight-book-navigation-item06 {
  gap: 10px;
  width: 172px;
  display: flex;
  padding: 16px 20px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
}
.flight-book-text175 {
  color: rgba(104, 113, 118, 1);
  height: auto;
  flex-grow: 1;
  font-size: 16px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.flight-book-navigation-item07 {
  gap: 10px;
  width: 172px;
  display: flex;
  padding: 16px 20px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
}
.flight-book-text177 {
  color: rgba(104, 113, 118, 1);
  height: auto;
  flex-grow: 1;
  font-size: 16px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.flight-book-navigation-item08 {
  gap: 10px;
  width: 172px;
  display: flex;
  padding: 16px 20px;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  background-color: rgba(35, 110, 255, 0.800000011920929);
}
.flight-book-text179 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  flex-grow: 1;
  font-size: 16px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.flight-book-flight-list-item09 {
  gap: 18px;
  width: 760px;
  display: flex;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.flight-book-frame483 {
  gap: 3px;
  display: flex;
  padding: 10px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.flight-book-frame403 {
  gap: 10px;
  width: 328px;
  display: flex;
  padding: 16px 20px;
  align-items: center;
  flex-shrink: 0;
}
.flight-book-vector5 {
  width: 32px;
  height: 30px;
}
.flight-book-text181 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.flight-book-frame463 {
  display: flex;
  align-items: center;
}
.flight-book-frame413 {
  gap: 10px;
  display: flex;
  padding: 0 5px;
  align-items: center;
  justify-content: center;
}
.flight-book-text183 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.flight-book-text184 {
  color: rgba(0, 0, 0, 1);
}
.flight-book-flight-list-item10 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.flight-book-frame423 {
  gap: 10px;
  width: 40px;
  height: 18px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.flight-book-text189 {
  color: rgba(104, 113, 118, 1);
  height: auto;
  font-size: 12px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.flight-book-flight-list-item11 {
  width: 130px;
  height: 10px;
}
.flight-book-frame433 {
  gap: 10px;
  height: 18px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.flight-book-text191 {
  color: rgba(104, 113, 118, 1);
  height: auto;
  font-size: 12px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.flight-book-frame453 {
  gap: 10px;
  width: 56px;
  display: flex;
  padding: 0 5px;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.flight-book-text193 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.flight-book-text194 {
  color: rgba(0, 0, 0, 1);
}
.flight-book-frame473 {
  gap: 10px;
  display: flex;
  padding: 16px 20px;
  align-items: center;
  justify-content: center;
}
.flight-book-text199 {
  color: rgba(255, 94, 31, 1);
  height: auto;
  font-size: 16px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.flight-book-text200 {
  color: rgba(255, 94, 31, 1);
  font-weight: 700;
}
.flight-book-frame503 {
  gap: 2px;
  display: flex;
  padding: 10px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.flight-book-frame493 {
  gap: 24px;
  display: flex;
  align-items: flex-start;
}
.flight-book-navigation-item09 {
  gap: 10px;
  width: 172px;
  display: flex;
  padding: 16px 20px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
}
.flight-book-text202 {
  color: rgba(104, 113, 118, 1);
  height: auto;
  flex-grow: 1;
  font-size: 16px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.flight-book-navigation-item10 {
  gap: 10px;
  width: 172px;
  display: flex;
  padding: 16px 20px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
}
.flight-book-text204 {
  color: rgba(104, 113, 118, 1);
  height: auto;
  flex-grow: 1;
  font-size: 16px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.flight-book-navigation-item11 {
  gap: 10px;
  width: 172px;
  display: flex;
  padding: 16px 20px;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  background-color: rgba(35, 110, 255, 0.800000011920929);
}
.flight-book-text206 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  flex-grow: 1;
  font-size: 16px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
