 /* Style the range input */
 input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  background: #ddd;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

/* Style the thumb */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: rgb(109, 108, 110);
  cursor: pointer;
}

/* Style the value label */
.slider-value {
  display: inline-block;
  margin-left: 10px;
  width: 50px;
  text-align: center;
  font-size: 14px;
  color: #0d0d0d;
  background-color: rgb(251, 251, 251);
  border-radius: 4px;
  padding: 5px;
}
#mySelect {
  width: 253px;
  height: 30px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  background-color: #fff;
}

.content {
  width: 368px;
  display: none;
  overflow: hidden;
}
.sp-xp {
  margin: 0;
}
.gi-thp-nht {
  margin: 0;
  font-weight: 500;
}
.sp-xp-gi-container {
  position: relative;
  display: inline-block;
  width: 104px;
  height: 42px;
  flex-shrink: 0;
}
.slider-arrow-icon {
  position: relative;
  width: 42px;
  height: 42px;
}
.sp-xp-gi-thp-nht-parent {
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  width: 368px;
  height: 74px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-base) var(--padding-xl);
  box-sizing: border-box;
}
.flightsort-sortinglist {
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
}
.b-lc {
  position: relative;
}
.b-lc-wrapper {
  height: 52px;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-mini);
  box-sizing: border-box;
}
.b-lc-wrapper,
.sortingtext,
.textbutton {
  display: flex;
  flex-direction: row;
}
.textbutton {
  height: 52px;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-mini);
  box-sizing: border-box;
  color: var(--color-royalblue-100);
}
.sortingtext {
  width: 368px;
  align-items: flex-start;
  justify-content: space-between;
}
.s-im-dng {
  position: relative;
  font-weight: 500;
}
.slider-arrow-icon1 {
  position: relative;
  width: 20px;
  height: 20px;
}
.s-im-dng-parent {
  border-bottom: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 368px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: var(--padding-3xs) var(--padding-xl);
}
.flightadvancesorting-list,
.ightadvancesorting-flightstyl,
.sorting {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.flightadvancesorting-list {
  padding: var(--padding-base) 0;
  gap: var(--gap-3xs);
}
.sorting {
  gap: var(--gap-xl);
}
.tp-hcm-sgn {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 20px;
  flex-shrink: 0;
}
.searchbar-des1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs) var(--padding-xl);
}
.searchbar-destiantion-child {
  position: relative;
  width: 41.6px;
  height: 9.8px;
}
.searchbar-destiantion {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.cn-15-thng-10-2023-wrapper,
.hnh-khch-wrapper {
  border-right: 1px solid var(--color-dimgray);
  align-items: center;
  justify-content: center;
}
.cn-15-thng-10-2023-wrapper {
  display: flex;
  flex-direction: row;
  padding: var(--padding-8xs) var(--padding-3xs) var(--padding-8xs)
    var(--padding-xl);
}
.hnh-khch-wrapper {
  padding: var(--padding-8xs) var(--padding-3xs);
}
.frame-group,
.hnh-khch-wrapper,
.ph-thng-wrapper {
  display: flex;
  flex-direction: row;
}
.ph-thng-wrapper {
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs) var(--padding-3xs);
}
.frame-group {
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-dimgray);
}
.vector-icon {
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 9.5px);
  left: 21px;
  width: 20px;
  height: 20px;
  z-index: 0;
}
.sub-item {
  flex: 1;
  position: relative;
  display: inline-block;
  height: 20px;
  z-index: 1;
}
.featureframe-subitem,
.frame-parent {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.featureframe-subitem {
  border-radius: 24px;
  background-color: #ff7a50;
  width: 168px;
  height: 55px;
  align-items: center;
  justify-content: flex-end;
  padding: var(--padding-base) var(--padding-xl);
  position: relative;
  gap: var(--gap-3xs);
  text-align: right;
  color: var(--color-white);
}
.frame-parent {
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 642px;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-3xs);
}
.vnd {
  margin: 0;
  font-size: var(--font-size-sm);
}
.cn-15-thng-10-6152000-vnd-wrapper {
  border-radius: var(--br-5xs);
  background-color: #568efa;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs) var(--padding-xl);
}
.vnd1 {
  margin: 0;
  font-size: var(--font-size-sm);
  color: var(--color-yellowgreen);
}
.cn-15-thng-10-6152000-vnd-container {
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs) var(--padding-xl);
}
.instance-parent {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px;
  z-index: 0;
}
.vector-icon1 {
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 19px);
  right: 4px;
  width: 18px;
  height: 38px;
  z-index: 1;
}
.flightbook-pricebar {
  border-radius: var(--br-5xs);
  background-color: #2c63cc;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 760px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) 25px;
  box-sizing: border-box;
  position: relative;
  text-align: center;
  color: var(--color-white);
}
.vector-icon2 {
  position: relative;
  width: 32px;
  height: 30px;
}
.vector-parent {
  width: 328px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-3xs);
}
.sgn1 {
  margin: 0;
  font-size: var(--font-size-sm);
  color: var(--color-dimgray);
}
.sgn {
  position: relative;
  font-weight: 600;
}
.h-0m-wrapper,
.sgn-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.sgn-wrapper {
  padding: 0 var(--padding-8xs);
}
.h-0m-wrapper {
  width: 40px;
  height: 18px;
}
.flightlist-item-child,
.flightlist-item-item {
  position: relative;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}
.flightlist-item-child {
  border: 0.5px solid var(--color-dimgray);
  box-sizing: border-box;
  z-index: 0;
}
.flightlist-item-item {
  background-color: var(--color-dimgray);
  z-index: 1;
}
.flightlist-item-inner {
  position: absolute;
  margin: 0 !important;
  top: 4.8px;
  left: 10px;
  width: 20px;
  height: 0.5px;
  z-index: 2;
}
.bay-thng-wrapper,
.flightlist-item2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.flightlist-item2 {
  width: 40px;
  flex-wrap: wrap;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-xl);
}
.bay-thng-wrapper {
  height: 18px;
  justify-content: center;
}
.flightlist-item1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-size-xs);
  color: var(--color-dimgray);
}
.tyoa-wrapper {
  width: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-8xs);
  box-sizing: border-box;
}
.khch {
  font-size: var(--font-size-sm);
  font-weight: 500;
  color: var(--color-black);
}
.frame-container,
.vndkhch-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.vndkhch-wrapper {
  justify-content: center;
  padding: var(--padding-base) var(--padding-xl);
  color: var(--color-orangered);
}
.frame-container {
  align-self: stretch;
  justify-content: space-between;
  padding: var(--padding-3xs);
}
.text {
  flex: 1;
  position: relative;
}
.navigation-item {
  border-radius: var(--br-5xs);
  width: 172px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-xl);
  box-sizing: border-box;
}
.frame-parent2,
.navigation-item2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.navigation-item2 {
  border-radius: var(--br-5xs);
  background-color: var(--color-royalblue-100);
  width: 172px;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-xl);
  box-sizing: border-box;
  color: var(--color-white);
}
.frame-parent2 {
  align-self: stretch;
  justify-content: space-between;
  padding: var(--padding-3xs);
  color: var(--color-dimgray);
}
.flightlist-item {
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 760px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-lg);
}
.flightlist-item-child1,
.flightlist-item-child2 {
  position: relative;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}
.flightlist-item-child1 {
  border: 0.5px solid var(--color-dimgray);
  box-sizing: border-box;
  z-index: 1;
}
.flightlist-item-child2 {
  background-color: var(--color-dimgray);
  z-index: 2;
}
.flightlist-item-child3,
.flightlist-item-child4 {
  position: absolute;
  margin: 0 !important;
  top: 4.8px;
  left: 10px;
  width: 20px;
  height: 0.5px;
  z-index: 3;
}
.flightlist-item-child4 {
  left: 40px;
  z-index: 4;
}
.flightlist-item5 {
  width: 70px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-xl);
}
.flightlist-item-child7,
.flightlist-item-child8 {
  position: relative;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}
.flightlist-item-child7 {
  border: 0.5px solid var(--color-dimgray);
  box-sizing: border-box;
  z-index: 2;
}
.flightlist-item-child8 {
  background-color: var(--color-dimgray);
  z-index: 3;
}
.flightlist-item-child10,
.flightlist-item-child11,
.flightlist-item-child9 {
  position: absolute;
  margin: 0 !important;
  top: 4.8px;
  left: 10px;
  width: 20px;
  height: 0.5px;
  z-index: 4;
}
.flightlist-item-child10,
.flightlist-item-child11 {
  left: 40px;
  z-index: 5;
}
.flightlist-item-child11 {
  left: 70px;
  z-index: 6;
}
.flightlist-item8 {
  width: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-xl);
}
.flightlist-item-child15,
.flightlist-item-child16 {
  position: relative;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}
.flightlist-item-child15 {
  border: 0.5px solid var(--color-dimgray);
  box-sizing: border-box;
  z-index: 3;
}
.flightlist-item-child16 {
  background-color: var(--color-dimgray);
  z-index: 4;
}
.flightlist-item-child17 {
  position: absolute;
  margin: 0 !important;
  top: 4.8px;
  left: 10px;
  width: 20px;
  height: 0.5px;
  z-index: 5;
}
.flightlist-item-child18,
.flightlist-item-child19,
.flightlist-item-child20 {
  position: absolute;
  margin: 0 !important;
  top: 4.8px;
  left: 40px;
  width: 20px;
  height: 0.5px;
  z-index: 6;
}
.flightlist-item-child19,
.flightlist-item-child20 {
  left: 70px;
  z-index: 7;
}
.flightlist-item-child20 {
  left: 100px;
  z-index: 8;
}
.flightlist-item11 {
  width: 130px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-xl);
}
.flightbook-flightlist,
.flightbook1 {
  flex-direction: column;
  align-items: flex-start;
}
.flightbook-flightlist {
  display: flex;
  justify-content: flex-start;
  gap: var(--gap-xl);
  text-align: center;
}
.flightbook1 {
  width: 760px;
  gap: 40px;
  text-align: left;
}
.flightbook,
.flightbook-container,
.flightbook1 {
  display: flex;
  justify-content: flex-start;
}
.flightbook-container {
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-5xl);
}
.flightbook {
  position: relative;
  width: 100%;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}
